[2016-09-20 18:57] mariobehling opened #1 "Set up AngularJS project"
- [ ] Use bootstrap
- [ ] Create front page search site https://github.com/fossasia/loklak_search/issues/2
- [ ] Create sub search sites https://github.com/fossasia/loklak_search/issues/3

[2016-09-20 18:58] mariobehling opened #2 "Create front page search site"
A sample of the front page search site below.

![screenshot from 2016-09-20 18 16 36](https://cloud.githubusercontent.com/assets/1583873/18684567/f3a47d9a-7f74-11e6-9d6b-cdc62afbed66.png)

[2016-09-20 18:59] mariobehling opened #3 "Create sub pages with different filters"
The screenshot below shows different facettes/filters.

![screenshot from 2016-10-15 15 44 05](https://cloud.githubusercontent.com/assets/1583873/19410497/58e46170-92ee-11e6-9e44-a1f26f325235.png)

Please implement it in the same style for
- [ ] All https://github.com/fossasia/loklak_search/issues/17
- [ ] Video Results https://github.com/fossasia/loklak_search/issues/49
- [ ] Image Results https:

[2016-09-28 12:49] hemantjadon commented on #1
Hi,
I am willing to contribute to this project.
I have a question that why Angular2 is not used instead of angular 1.x ?
I think ng2 is quite stable now with ^rc6 and more future proof.s
Can we think about building from ground up using angular2?

[2016-09-28 13:16] hemantjadon commented on #1
Also i want to know that how this project will be different from the [LokLak WebClient](http://loklak.net/).

[2016-09-28 13:22] mariobehling commented on #1
@hemantjadon Yes, please use Angular2 and delete anything that is not needed. The webclient was a prototype but it is too bloated and has some strange delay code. We simply need a search page for now and something clean.

[2016-09-28 13:56] vanhonit commented on #1
@hemantjadon Please create a branch for angular2. Which programming will you use typescript, javascript es6 or Dart?

[2016-09-29 04:49] hemantjadon commented on #1
@vanhonit
I will like to use typescript.
Also along with it i will like to use `angular-cli` though it is in beta right now but i think it is stable enough to start a new project.

[2016-09-29 04:58] vanhonit commented on #1
Look good. But when you use angular-cli please make sure you understand how they structure the project and what component they used.

[2016-09-29 05:40] hemantjadon commented on #1
@vanhonit sure i am currently using it in one of my projects and largely understand it.
But still i will again go through the structuring and create a `readme` about the structuring of code for future references.

[2016-10-03 09:04] hemantjadon opened #7 "CI setup for the repository"
@mariobehling
Hi sir,
As I am able to see the Travis CI is not enabled for this repository, please look into that.
Also Circle CI is failing on builds and throwing some errors (due to absence of .circle.yml, i suppose).
The codecov is still showing `unknown`(don't know the reason).

Also i think direct merge to `gh-pages` should not be there, I mean there must be another branch for development (as

[2016-10-03 09:29] mariobehling commented on #7
We can make the process more advanced when there is more code and functionality. Please help to get this project going and we will establish a development process. We need code at the moment and less of a process. This project is at the beginning. Thanks.

[2016-10-03 09:29] #7 closed

[2016-10-03 09:32] mariobehling opened #8 "Fix travis.yaml"
[31;1mERROR:[0m An error occured while trying to parse your .travis.yml file.

Please make sure that the file is valid YAML.

http://lint.travis-ci.org can check your .travis.yml.

The log message was: Build config file had a parse error: found character that cannot start any token while scanning for the next token at line 10 column 1.

[2016-10-03 12:52] jig08 commented on #8
**Travis WebLint** Result:

- value for addons section is empty, dropping
- in addons section: unexpected key apt, dropping

<img width="1280" alt="screen shot 2016-10-03 at 6 20 37 pm" src="https://cloud.githubusercontent.com/assets/9291400/19037841/1edfdcd6-8996-11e6-9aa2-2bf709e0dd7b.png">

[2016-10-04 13:45] hemantjadon opened #9 "api CORS error"
I was trying to access the api `http://api.loklak.org/api/search.json?q=foo` but the resource is erroring with `No 'Access-Control-Allow-Origin' header is present on the requested resource.`

I want to know that is this an intended behaviour or something which can be fixed?

For testing the site should i use local version of `loklak_server` and not the `api`

[2016-10-05 10:31] hemantjadon commented on #9
Sorry my bad...
I figured out the request can be made using `jsonp`.

This can be done pretty easily using angular's `Jsonp module`.

[Angular2 CORS using jsonp](https://angular.io/docs/ts/latest/guide/server-communication.html#!#cors)

* Remember to  `params.set('callback', 'JSONP_CALLBACK')`, otherwise angular2 always *errors*.

[2016-10-05 10:31] #9 closed

[2016-10-07 07:20] hemantjadon commented on #8
![screen shot 2016-10-07 at 12 47 48 pm](https://cloud.githubusercontent.com/assets/11755543/19181691/5d162962-8c8c-11e6-8433-3456ffca57f0.png)

* The travis build is working fine on the fork, but the travis.yml shows errors at http://lint.travis-ci.org/

[2016-10-07 07:24] mariobehling opened #11 "Ensure the root URL of the project shows the start page of the project"
The root directory of the project should show the start page of the project.

If you are unsure how to implement this, please compare this to other Angular2 repositories like: https://github.com/tjvantoll/groceries and the website here https://github.com/tjvantoll/groceries

Also check out: https://github.com/angular/angular-cli

[2016-10-07 07:26] jig08 commented on #8
@hemantjadon
This is the exact error in `.travis.yml`:
[code]

<img width="1280" alt="screen shot 2016-10-07 at 12 55 27 pm" src="https://cloud.githubusercontent.com/assets/9291400/19181845/667a5a68-8c8d-11e6-8856-960a286607d9.png">

[2016-10-07 07:33] hemantjadon commented on #8
@jig08
I know that error but what i want to say is i don't know why the travis is building and running tests in the fork perfectly

[2016-10-07 07:39] jig08 commented on #8
@hemantjadon

Yes.

[2016-10-07 08:37] hemantjadon commented on #8
Thanks @jig08
I will lint this asap.

[2016-10-07 10:17] mariobehling opened #12 "Add a simple search button on front page and make start page accessible from root directory"
The goal of the issue is to make the start page accessible from the root at https://fossasia.github.io/loklak_search/ and show a simple search button.

[2016-10-07 15:30] hemantjadon commented on #12
@mariobehling @sainiak009

* Both the issues this and #11 can be solved using `ng github:pages:deploy`.

* But the thing to note is the deployment requires the complete `webpack build` which generates the the transpiled and gziped `.ts` and `.scss` are also preprocessed and compiled.

* These files along with `assets` like `images/fonts` etc. are stored on main branch.

* In our project the `gh-pa

[2016-10-07 16:37] mariobehling commented on #12
@hemantjadon Good job pointing all this out. Yes, please proceed to put up dev code to master and deployment to gh-pages. Is there any way to deploy updated code from master to deployment version on gh-pages?

[2016-10-07 18:18] hemantjadon commented on #12
@mariobehling

Are you refering to Continuous Deploy script hooked up with `travis` or some some other platform which will run the command `ng github-pages:deploy` whenever there is a `passing build` merged with `master`.

* Also there is no `master` branch `upsteram` in the repository, please create that so that workflow can be completed.

[2016-10-07 18:21] mariobehling commented on #12
Yes, let's go that way.

Done.

[2016-10-08 15:24] hemantjadon commented on #12
@mariobehling

* I have written a bash script for the Continuous Deployment to build continuously whenever there is commit on master but i don't know why its failing on the last step, During testing with a test repo

[code]

* It commits in the last line but never pushes the changes the script just closes.

* I have not written much bash scripts, so there may be rookie mistake :P

[2016-10-08 17:40] hemantjadon commented on #8
This issue can be closed now
Resolved in #10

[2016-10-08 17:41] hemantjadon commented on #2
Resolved in #10

[2016-10-08 18:07] mariobehling commented on #8
Build still shows up as "unknown" on Readme.md.

[2016-10-08 18:08] mariobehling commented on #2
Does not see that it is resolved. https://fossasia.github.io/loklak_search/ does not show the site.

[2016-10-08 18:12] hemantjadon commented on #12
[code]

* I think something like this will work, Not so sure, but its working on my test repo.

[2016-10-08 18:26] #8 closed

[2016-10-09 08:44] hemantjadon commented on #12
@mariobehling @daminisatya

This process will require the generation of `deploy_key` and its inclusion in repository.
https://gist.github.com/domenic/ec8b0fc8ab45f39403dd#get-encrypted-credentials for reference.

[2016-10-09 08:53] mariobehling commented on #12
Ok, very good progress on this issue. Could you show us the outcome on your repo, please?

[2016-10-09 08:55] sainiak009 commented on #12
@hemantjadon Good progress. Let me know if I can assist you in any way :)

[2016-10-09 09:37] hemantjadon commented on #12
@mariobehling
* The repo is on my github https://github.com/hemantjadon/Angular2-test

   * Please see `gh-pages` branch, it contains compiled and minified version of scripts and assets.

   * On `master` you can see the `deploy_key.enc` the `private` part of `ssh key` encrypted with `travis cli`, the `public` part is set up on github as `deploy key`.

   * In `.travis.yml` see `the `after_success

[2016-10-09 09:53] mariobehling commented on #12
Hi, no need to make screenshots of code or tests. We can see all that. Let's keep it short. Hope it works out with the implementation of the search to finish this issue. Cheers.

[2016-10-09 09:58] hemantjadon commented on #12
Ok, i'll keep it as short as possible from now on.
So should I open up a PR for this??

[2016-10-09 12:03] mariobehling commented on #12
Yes, you can make a pull request, but as far as I can see the current work does not solve the issue entirely. Still no search implementation. Goal is a simple search button, that puts out dtaa, no logo or any other information is required.

[2016-10-10 21:42] #12 closed

[2016-10-10 21:46] mariobehling opened #16 "Add deploy key to travis"
Please help to finish the deployment to gh-pages.

[2016-10-11 05:55] hemantjadon commented on #16
@mariobehling
I have added The Deploy key to github, but what i also need is access to add environment variables to Travis CI which will be required to decrypt the private part of the ssh key during `deploy.sh`

[2016-10-11 06:05] mariobehling commented on #16
@hemantjadon Please post the variables that need to be added here.

[2016-10-11 06:07] hemantjadon commented on #16
@mariobehling  sorry for bothering it was some issue with cli not able to sync settings its done now :)

[2016-10-11 06:51] mariobehling commented on #16
@hemantjadon Ok, what is missing to get the site up and running on gh-pages?

[2016-10-11 06:57] hemantjadon commented on #16
@mariobehling Its done now running on `gh-pages` :)

[2016-10-11 07:06] mariobehling opened #17 "Implement Live Results Page"
Parent Issue: https://github.com/fossasia/loklak_search/issues/3

Please implement a live result page for searches.

[2016-10-11 07:07] mariobehling commented on #16
Ok, great.

So, lets get some results going. Please help to show results on a results page: https://github.com/fossasia/loklak_search/issues/17

[2016-10-11 07:07] #16 closed

[2016-10-11 07:20] hemantjadon commented on #17
@mariobehling a very simple search page already up and running
Please check it out by submitting query on home page.

I am on my way to implement live lazy loading of results.

[2016-10-11 08:01] mariobehling commented on #17
Please provide examples. I do not see anything loading and just get an empty page. Could you also get rid of the "loading" message, please?

[2016-10-11 09:00] hemantjadon commented on #17
@mariobehling
I got the issue ...

* The github.io page is served over `https` and the api is called over `http`, so browser raises a warning/error. : MixedContent

* You can temporarily view the results by  Allow the loading of the `unsafe scripts`, right corner of `url bar` in browser.

* But github `enforces` us to use `https` till we are using their domain `fossasia.github.io` (can be seen in

[2016-10-11 09:18] mariobehling commented on #17
This is not correct as far as I can see. https is activated somewhere.

It is working fine on another repo: http://fossasia.github.io/open-event-webapp/

[2016-10-11 09:36] hemantjadon commented on #17
Yes github enforced it since `15th June 2016` https://help.github.com/articles/securing-your-github-pages-site-with-https/

I viewed the project history of that repo and it had a gh-pages branch before.

[2016-10-11 09:45] mariobehling commented on #17
Ok, I added a CNAME for http://loklak.fossasia.org.

Let's go with this for the moment.

Please make the site work on that domain.

[2016-10-11 10:22] mariobehling opened #18 "Unclear files in repo"
There are some files in the repository, where the usage is not clear.

@hemantjadon Any idea?

![screenshot from 2016-10-11 12 20 51](https://cloud.githubusercontent.com/assets/1583873/19267113/4ab8402e-8fad-11e6-883a-bedd671ad376.png)

[2016-10-11 10:28] hemantjadon commented on #18
Yeah those files bugged me too. From my observation those are `bootstrap font/glyphs` related stuff. I don't know why the build process is emitting them in root directory.

[2016-10-11 10:38] hemantjadon commented on #17
@mariobehling
The settings are not showing the CNAME specified by you.
Is it changed intensionally ??
![sc](https://cloud.githubusercontent.com/assets/11755543/19267543/f77353fc-8fcc-11e6-858b-0fa193feb128.jpg)

[2016-10-11 11:34] jig08 commented on #17
@mariobehling @hemantjadon I just pushed `CNAME` file to `gh-pages` and it now shows `Your site is published at http://loklak.fossasia.org/`.

Go ahead with making the site go live at this domain, Cheers !

[2016-10-11 11:58] mariobehling commented on #17
thank you.

[2016-10-11 11:58] #17 closed

[2016-10-11 12:00] mariobehling opened #19 "Implement search similar to market leader design"
* [ ] Implement Google theme (with loklak logo)
* [ ] At first glance show search bar in middle
* [ ] Implement moving up of search area to top left on typing start similar to Google

![screenshot from 2016-09-04 22 34 32](https://cloud.githubusercontent.com/assets/1583873/18233778/68b46cc6-72f0-11e6-8241-fb050fa05663.png)

[2016-10-11 12:01] mariobehling commented on #17
Please check out this issue, that you could do next: https://github.com/fossasia/loklak_search/issues/19

[2016-10-11 12:12] FleetAdmiral commented on #3
I'd like to take this up! Anyone that could extend upon what is exactly expected over here?

[2016-10-12 13:40] mariobehling commented on #19
Please also correct capitals in "I'm feeling Awesome!" to "I'm feeling awesome!".

[2016-10-12 14:18] hemantjadon opened #21 "Single page app routing problem in Github Pages"
[Issue]

* Whenever there is a refresh in the route segment of the page (not the home page), the `gh-pages` 404 is shown.

* This is due to the fact that `gh-pages` doesn't have a file corresponding to that route, the route handling needs to be done by the framework (angular) itself.

[Expected Behaviour]

* All single page applications (angular here) expect the all the routes to be redirected to

[2016-10-12 15:43] hemantjadon commented on #19
@mariobehling
It's done now :)

[2016-10-12 15:45] jig08 commented on #19
@hemantjadon In PR number ?

[2016-10-12 15:46] #19 closed

[2016-10-12 15:46] jig08 commented on #19
Appears as directed, closing this issue.

<img width="1275" alt="screen shot 2016-10-12 at 9 16 11 pm" src="https://cloud.githubusercontent.com/assets/9291400/19316985/20623144-90c1-11e6-85db-4476b00807d8.png">

[2016-10-12 16:57] mariobehling opened #22 "Do not show "loading.." on site"
Please load the site without "loading..." message.

[2016-10-12 17:03] mariobehling opened #23 "Implement Search page theme similar to other services"
Please implement the result page similar to Google/Twitter.

![screenshot from 2016-10-12 19 02 41](https://cloud.githubusercontent.com/assets/1583873/19320203/97a0aa9e-90b0-11e6-864a-392c8ff723ed.png)

[2016-10-12 17:50] #21 closed

[2016-10-12 17:51] mariobehling opened #26 "Add tests for circle CI"
Circle CI is already integrated, but tests are lacking.

[2016-10-12 17:59] hemantjadon commented on #26
@mariobehling
The tests are failing on `gh-pages` branch .
There is no requirement of running tests on `gh-pages` as there is only compiled code nothing more, the code which should be tested is on `master` then after passing travis build only it is deployed to `gh-pages`.

[2016-10-12 18:07] mariobehling commented on #26
Ok, please delete the unnecessary files on travis. Thank you.

[2016-10-12 18:09] hemantjadon commented on #26
I didn't got that ??

[2016-10-12 18:19] mariobehling commented on #26
No need to travis,yml etc. in gh-pages branch, if we dont use it at the moment.

[2016-10-12 18:46] mariobehling opened #27 "Implement a footer menu"
Please implement a footer similar to Google as shown below.

One the left side add:
* [x] "About" to an about page at `/about`
* [x] "Blog" to http://blog.loklak.net
* [x] "Developers" to http://api.loklak.org

On the right hand side add:
* [x] "Terms" to `/terms`
* [x] "Imprint" to `/imprint`

![screenshot from 2016-10-12 20 39 02](https://cloud.githubusercontent.com/assets/1583873/19323288/9178c

[2016-10-12 18:48] mariobehling opened #28 "Add the voice feature to the search"
Chrome has the feature to enable voice. Please enable the site to use this feature.

![screenshot from 2016-10-12 20 47 21](https://cloud.githubusercontent.com/assets/1583873/19323430/2cbba41a-90bd-11e6-8068-01772126eed8.png)

[2016-10-13 08:26] mariobehling opened #29 "Implement autocompletion to suggest search terms"
The web client prototype (currently at http://loklak.net) has the feature of autocompletion. Please implement autocompletion for the new site.

[2016-10-13 15:31] hemantjadon commented on #26
@mariobehling
The travis part of the issue can be solved simply by removing `.travis.yml` from the `gh-pages` branch.

While i tried to find such an option for `circle-ci` (build only if circle.yml is present) but there is no such option there. The only option is to blacklist the `gh-pages` using `circle.yml`

So we can do either two things:

* Remove `.travis.yml` and add `circle.yml` adding `gh-

[2016-10-13 15:34] hemantjadon commented on #18
@mariobehling
Does this issue requires more info ??

[2016-10-13 15:37] hemantjadon commented on #11
I think this is solved in #15.
Please specify if there are other requirements of this.. :)

[2016-10-13 21:02] #22 closed

[2016-10-13 21:24] #11 closed

[2016-10-13 21:25] mariobehling commented on #26
Yes, let's remove it.

[2016-10-15 12:45] #26 closed

[2016-10-15 12:49] mariobehling opened #33 "Add RSS feed and link to JSON output to all searches"
Please add a link for RSS and JSON for search results on right below top bar.

[2016-10-15 13:46] mariobehling commented on #3
@FleetAdmiral Still interested? Please go ahead if you like. I also updated the description.

[2016-10-15 13:53] hemantjadon commented on #29
@mariobehling I am thinking of taking this issue next.

I want to know that what will act as a `data-source` for the autocomplete and autosuggest ??

[2016-10-15 13:53] mariobehling opened #34 "Adapt height of top bar and simplify search box"
![screenshot from 2016-10-15 15 48 53](https://cloud.githubusercontent.com/assets/1583873/19410524/046e5208-92ef-11e6-8ead-a1422d4a3e27.png)

* [x] Please implement the same height as the Google search bar.
* [x] Currently the search gets a blue kind of shadow, when it is highlighted. Please only change the line color to blue and do not show a box shadow.

[2016-10-15 13:57] mariobehling commented on #29
The server provides this.

@Orbiter Could you give guidance here, please?

[2016-10-15 14:01] FleetAdmiral commented on #3
@mariobehling Yea, i'll take it up. Thank you!

[2016-10-15 14:45] hemantjadon commented on #33
@mariobehling
Is a link to raw JSON (which was used to construct results) and raw RSS is expected ??

[2016-10-15 15:00] mariobehling commented on #33
Would be good to have like Google and Twitter used to offer this.

[2016-10-15 15:04] mariobehling commented on #23
Please also get rid of the bottom left/right scroll bar.

![screenshot from 2016-10-15 17 04 12](https://cloud.githubusercontent.com/assets/1583873/19411012/788ecb36-92f9-11e6-9266-5e80d2c4e8ba.png)

[2016-10-15 15:09] Orbiter commented on #29
use i.e. suggestions for "oba": http://api.loklak.org/api/suggest.json?orderby=query_count&order=desc&minified=true&q=oba

[2016-10-15 15:10] Orbiter commented on #29
There are many options to choose from for the suggestion process, but this one above should be usable for the first shot

[2016-10-15 15:16] hemantjadon commented on #29
@Orbiter thanks I'll try and give it a shot.

[2016-10-15 15:22] hemantjadon commented on #23
@mariobehling
I don't know why but there is no horizontal scroll bar on my machine.

And this is bit weird and I am not able to think any reason why it is showing one. Bit surprised there.

What I can do is forcefully hide the overflow-x content. Please suggest ..

[2016-10-15 16:07] hemantjadon commented on #34
@jig08
I have tried and match the heights within 1px. PR #36

[2016-10-15 16:15] hemantjadon commented on #33
@mariobehling
I am not able to understand this. Can you please elaborate ... please provide the links if any :)

[2016-10-15 21:59] mariobehling commented on #34
Cannot confirm this as solved. Please compare.

![screenshot from 2016-10-15 23 57 26](https://cloud.githubusercontent.com/assets/1583873/19413644/6cf25f92-9333-11e6-8e1a-85019d2c2f46.png)

Please also test on different browsers.

![screenshot from 2016-10-15 23 58 40](https://cloud.githubusercontent.com/assets/1583873/19413646/76c69614-9333-11e6-8f0c-b127738fe80d.png)

[2016-10-15 22:11] mariobehling commented on #23
@hemantjadon Please test on different browsers and test with a smaller window size and resolution.

If I make the screen of the Google search smaller it still works as well.

![screenshot from 2016-10-16 00 10 15](https://cloud.githubusercontent.com/assets/1583873/19413699/040d6e66-9335-11e6-8687-7c6f5fff6708.png)

[2016-10-16 12:36] hemantjadon commented on #33
@mariobehling
Please provide some more information regarding this issue. :)

[2016-10-16 12:39] hemantjadon commented on #23
@mariobehling
I have tries to fix-up the horizontal scroll issue on the page in #37. It will be great if you can test it again now. Thanks :)

[2016-10-16 12:57] hemantjadon opened #38 "Home to feed page switching bug in Firefox(Gecko)"
- [ ] Fix the unintended switch which occurs in firefox on press of keys like `esc`, `tab` and `delete/backspace`.
- [ ] First keystroke is ignored in firefox (during the switch). Needs a fix.

Both these issues occur as `firefox` handles the events differently than `webkit` browsers. In webkit the `keypress` event is fired only when a `character` key or `enter/return` key is pressed.
But in firef

[2016-10-16 14:42] mariobehling commented on #23
@hemantjadon Thanks a lot. Looks very good. Cheers!

[2016-10-16 14:42] #23 closed

[2016-10-17 08:02] mariobehling commented on #33
We will go into detail here later. Delay for now.

[2016-10-17 08:34] #38 closed

[2016-10-17 09:40] mariobehling commented on #27
Good start!

* [ ] Please decrease the font size to match the Google bottom bar.
* [ ] Please add the bottom bar to the result page as well.

[2016-10-17 15:01] mariobehling commented on #34
Good job!

[2016-10-17 15:01] #34 closed

[2016-10-17 15:03] mariobehling commented on #3
@FleetAdmiral How is it going? Any questions?

[2016-10-17 15:10] FleetAdmiral commented on #3
@mariobehling I'm currently preoccupied with my mid terms which get over on the 19th. I'll have to put off this work till then. I hope thats fine?
P.S: Thanks for checking up on me!

[2016-10-17 15:11] mariobehling opened #41 "Implement additional pages"
Please implement additional pages just as other search engines, e.g. Google.

![screenshot from 2016-10-17 17 09 31](https://cloud.githubusercontent.com/assets/1583873/19443318/a4f4c056-948c-11e6-96b6-c9ca772c69be.png)

[2016-10-17 15:20] mariobehling opened #42 "Show related hashtags on bottom of search result page"
On the bottom of search page results we often find "related searches". Please implement a similar thing "related hashtags".

![screenshot from 2016-10-17 17 18 12](https://cloud.githubusercontent.com/assets/1583873/19443727/f5ba4f0a-948d-11e6-9f57-8b49e6ee1e43.png)

[2016-10-17 15:24] mariobehling opened #43 "Implement time restricted search"
Similar to Google implement a time restricted search after clicking on "Search Tools".

![screenshot from 2016-10-17 17 22 51](https://cloud.githubusercontent.com/assets/1583873/19443877/7bb5efb0-948e-11e6-83ae-4f3f88d6153d.png)

[2016-10-17 15:32] mariobehling commented on #27
One small change: Please do not open bottom links in new tab.

[2016-10-17 15:35] mariobehling opened #44 "Enhance front page image and add favicon"
- [ ] The front page image is currently 64KB. Please check how this image size can be decreased without loosing quality.
- [ ] Currently there is no favicon defined. Please add the loklak animal as a favicon.

[2016-10-17 15:39] mariobehling opened #45 "Activate search bar with cursor on opening start page"
When a user enters a search site like google.com, the site activates the search bar and shows the cursor in the bar right away. This means the user does not have to click the search box to type.

Please implement it in the same way.

![screenshot from 2016-10-17 17 37 44](https://cloud.githubusercontent.com/assets/1583873/19444415/a95655b6-9490-11e6-9d0e-fcba7324491d.png)

[2016-10-17 15:46] mariobehling opened #46 "Implement news sub tab with results from news organizations"
Many news organizations have a twitter and youtube account. Please show a stream from news organization in the sub tab "News".

Implement as follows:
-  [ ] Create a json file with a list of accounts of social media of news organizations (sort alphabetically and by media, e.g. Twitter, Youtube)
-  [ ] Show the stream just like other search results in a sub tab "News"

![screenshot from 2016-10-17

[2016-10-17 15:52] mariobehling commented on #3
@FleetAdmiral No problem. I unassign this, so someone else can take it up. There are enough issues to take up or if this is not solve just do it later. Cheers.

[2016-10-17 16:35] sharkness commented on #44
I can complete this.
Would you prefer just the browser favicon.ico or would you like the apple, ms, and android favicons, as well?

[2016-10-17 16:39] mariobehling commented on #44
@sharkness Anything that is relevant for this project. Not sure, if it needs Android favicon for example as this repo caters for the browser. Thank you.

[2016-10-17 16:54] sahil865gupta commented on #45
autofocus on the input field will fix it.

[2016-10-17 17:28] #45 closed

[2016-10-17 17:28] hemantjadon commented on #42
@mariobehling
Do we want the hashtags related to the search term here ??

[2016-10-17 17:30] mariobehling opened #48 "Create subtabs for image results"
The screenshot below shows different facettes/filters.

![screenshot from 2016-10-15 15 44 05](https://cloud.githubusercontent.com/assets/1583873/19410497/58e46170-92ee-11e6-9e44-a1f26f325235.png)

Please implement it in the same style for Image Results

Subissue to https://github.com/fossasia/loklak_search/issues/3

[2016-10-17 17:31] mariobehling opened #49 "Subtab for video results"
The screenshot below shows different facettes/filters.

![screenshot from 2016-10-15 15 44 05](https://cloud.githubusercontent.com/assets/1583873/19410497/58e46170-92ee-11e6-9e44-a1f26f325235.png)

Please implement it in the same style for video results.

Subissue to #3

[2016-10-17 17:39] mariobehling commented on #42
Either related to the search term or related to the tweets of the search output, e.g. show hashtags that appear in the search results.

@Orbiter: How can we get this from API?

[2016-10-17 17:46] hemantjadon commented on #2
@mariobehling I think this issue is resolved and can be closed. Your inputs please.

[2016-10-17 17:53] #2 closed

[2016-10-17 17:57] hemantjadon commented on #3
@mariobehling would it be nice to show the video and images (in the cards along with the results) in the `all` tab and then just filter those in `different tabs` essentially keeping the design same?

[2016-10-17 18:08] mariobehling commented on #3
@hemantjadon Yes, images and videos should be shown and currently are not displayed.

Then in the tabs for the start we simply show tweets with images or videos.

![screenshot from 2016-10-17 20 06 52](https://cloud.githubusercontent.com/assets/1583873/19449328/6ce8bf64-94a5-11e6-8a9d-39304aad7e1f.png)

[2016-10-17 18:21] sharkness opened #51 "Image files misnamed"
The following files in assets/images are named incorrectly based on their sizes.
cow_200x233.png
loklak_banner_252x45.png

[2016-10-17 18:26] mariobehling opened #52 "Show info and suggestions if no results are returned for search and move bottom bar to - bottom"
If no results match the search, please move the info bottom bar to - bottom and display message as follows:

--
Your search {search terms/keywords here} did not match any documents.

We will crawl the social web with this search term again in the upcoming hours. Please check back again later. In the meantime please try the following to get relevant results. Suggestions:

Make sure that all words a

[2016-10-17 18:43] #51 closed

[2016-10-17 19:06] sharkness opened #55 "Reduce image file size"
Files in src/assets/images total size is 261kb. At least two of these files can be compressed without losing quality.

[2016-10-17 19:10] mariobehling commented on #42
Here is an example link to get results of a search: http://api.loklak.org/api/search.json?q=usa%20since:2016-10-16%20until:2016-11-01&source=cache&count=0&fields=hashtags&limit=6

{
  "readme_0": "THIS JSON IS THE RESULT OF YOUR SEARCH QUERY - THERE IS NO WEB PAGE WHICH SHOWS THE RESULT!",
  "readme_1": "loklak.org is the framework for a message search system, not the portal, read: http://loklak.o

[2016-10-17 19:11] mariobehling commented on #42
Please implement this with a time interval "since" and show the results of the last 2 weeks.

If there are no results of the last two weeks, do not show "related hashtags" widget.

[2016-10-17 19:13] #55 closed

[2016-10-17 19:33] mariobehling commented on #27
Right now, some bottom links are not clickable anymore.

[2016-10-17 20:12] #27 closed

[2016-10-17 21:52] #52 closed

[2016-10-17 22:11] mariobehling opened #59 "Images not showing up in private browsing mode"
With Chrome and Firefox images do not show up in private/incognito browsing mode. I am not clear if this is a Github/Cloudflare issue or caused by us. Other fossasia sites are fine in private mode.

![screenshot from 2016-10-18 00 09 52](https://cloud.githubusercontent.com/assets/1583873/19457685/baecedc6-94c7-11e6-8fbf-adaf65d7477f.png)

[2016-10-17 22:40] mariobehling opened #60 "Add information to about page"
Please design the about page following the design of https://www.google.com/intl/en/about/

Please add the following information
- [ ] one column
  Our mission is to make the world’s social media information openly accessible and useful generating open knowledge for all. # OpenData (/search?query=#OpenData) #OpenSource (/search?query=#OpenSource) #OpenKnowledge (/search?query=#OpenKnowledge)
- [ ]

[2016-10-17 22:59] RyanFitzgerald commented on #59
I seem to be getting a 404 status regardless of if I'm in private or regular browsing mode. It looks like there may be an issue with how the image is being served in general. Was it recently moved or anything like that?

[2016-10-17 23:30] mariobehling opened #61 "Implement contact page (rename imprint)"
Instead of imprint please add a contact page at `/contact`.

Use the same design as the "about" page and add the following information:

Contact Us

Loklak
93 Mau Than Street
Can Tho
Viet Nam
Phone +84 (0) 907 65 29 27
Email: support@loklak.net
Board of Directors: Phuc Hau Dang
Loklak Ltd.  is registered in Can Tho, Viet Nam.

Report a safety or abuse issue affecting our products.
If you know of a

[2016-10-18 06:21] hemantjadon commented on #59
@mariobehling @RyanFitzgerald

This is due to the name mismatch which was changed in #51. So a simple rename in `src/app/feed/feed-header/feed-header.component.ts` will fix this.

Also the issue with the other `profile images` is not in our control. Those are throwing a `404` as their url is malformed in the api or the original user has removed those `images` from their profile.

What we can do is

[2016-10-19 07:27] rishiraj824 commented on #60
on it @mariobehling. Assign me this.

[2016-10-19 07:29] rishiraj824 commented on #61
on it @mariobehling. Please assign me this.

[2016-10-19 08:42] jig08 commented on #60
@rishiraj824 Joined the FOSSASIA Codeheat team ?

[2016-10-19 08:42] jig08 commented on #61
@rishiraj824 Joined the FOSSASIA Codeheat team ?

[2016-10-19 08:53] mariobehling commented on #60
@rishiraj824 Please go ahead. Sent you an invite to FOSSASIA. Please accept it, so we can assign you. Cheers.

[2016-10-19 10:06] rishiraj824 commented on #60
Yeah got it. Thanks @mariobehling

[2016-10-19 11:43] hemantjadon commented on #3
@mariobehling @Orbiter
There is a certain issue which I am facing right now regarding the the images in individual posts

* The api gives the image url in the `images` key of the  as `https://pic.twitter.com/{id}`

* Now on visiting this link redirects us to a url `https://twitter.com/{user_name}/status/{post_id}/photos/{photo_number}`. (an html response)

* Thus this link cannot be directly used

[2016-10-19 12:09] hemantjadon commented on #3
Something i found on a twitter forum
https://twittercommunity.com/t/how-do-i-extract-the-url-to-the-photo-i-just-tweeted/7165/3

* This is related to twitter api but i think it might point towards the right path.

[2016-10-20 07:33] hemantjadon opened #64 "Structuring of application"
Will it be good to have the `model/schema` (Typescript classes) of the `api-responses` or just plain JSON should be used?

* Using classes will make the use of the response object more **robust** and easier to write.

* But using plain JSON gives us more flexibility in case structure of response changes over time.

Please Suggest :)

[2016-10-20 13:31] mariobehling commented on #64
I tend to using Typescript classes.

The structure of responses will be extended over time, but I think we could handle this.

But, I don't have a well-funded opinion. What is your personal preference?

[2016-10-20 14:56] hemantjadon commented on #64
@mariobehling
In my opinion I think it's nice to have typed structure it gives us a good type checking in texteditor and more structured codebase in general.

[2016-10-20 15:37] mariobehling commented on #64
@hemantjadon Ok, let's proceed that way then.

[2016-10-20 15:37] #64 closed

[2016-10-21 19:12] Orbiter commented on #3
I will have a look at the back-end

[2016-10-22 10:35] mariobehling commented on #61
@rishiraj824 Hi, any updates?

[2016-10-22 10:36] mariobehling commented on #60
I am unassigning this as it is sufficient if contributors have one task assigned.

[2016-10-25 05:26] sandmanx commented on #60
If this issue is still not fixed, I am willing to take it up.

[2016-10-25 06:29] pranayyelugam commented on #61
Is this issue fixed ? . If not, I would like to do this.

[2016-10-25 07:26] mariobehling commented on #61
@pranayyelugam Sounds great. There is already a pull request regarding this issue here: https://github.com/fossasia/loklak_search/pull/66 Any feedback?

@rishiraj824 Are you stuck here? Maybe @pranayyelugam can help?

[2016-10-25 07:27] mariobehling commented on #60
Please have a look at the pull request here https://github.com/fossasia/loklak_search/pull/66 and help to fix it, if possible. Thank you.

[2016-10-25 07:29] rishiraj824 commented on #61
No it'll be done by today.  Sorry for the delay.

[2016-10-25 07:45] hemantjadon commented on #61
@rishiraj824 If there is any problem regarding the workflow or tests please ask, :)

[2016-10-25 07:46] hemantjadon opened #67 "Query Model Structure."
There should be model/class for query string processing, which can contain various filters and aspects of a search, `mentions`, `hashtags`, and most importantly `time and location` based searches, along with client side filtering like, `videos/images/news`
- There should be direct linking of query string (from url) to a query object on component initialization.
- On subsequent changes in query the

[2016-10-25 08:11] mariobehling commented on #67
Sounds good. Please proceed.

[2016-10-25 14:37] pranayyelugam commented on #61
It seems that @rishiraj824  has it under control .

[2016-10-27 16:44] mariobehling commented on #60
@sandmanx Would be great if you want to help. There is an about page here already: http://loklak.fossasia.org/about

Please change as follows:
* [ ] Heading "News from us" -> "About Us"
* [ ] The three columns should be implemented as outlined in the description above (here in this issue): 1. News from us, 2. Developers, 3. Contribute to our projects
* [ ] Heading "Developers" section -> "Contact

[2016-10-27 16:48] mariobehling commented on #61
This issue is not finished yet. The link to "imprint" on bottom of pages is still there and has not been changed. Instead of imprint please add a contact page at /contact. Also change "Google" to "loklak" please.

@rishiraj824 Please see if you would like to finish this issue.

Or @pranayyelugam feel free to make a PR for this small change. Cheers.

[2016-10-27 16:49] mariobehling commented on #61
Also, please leave some space before the bottom gray bar.

![screenshot from 2016-10-27 09 48 38](https://cloud.githubusercontent.com/assets/1583873/19776846/97123f72-9c2a-11e6-8103-b890987869d4.png)

[2016-10-27 16:59] mariobehling opened #69 "Implement: Leave some space above gray bottom bar"
The gray bottom bar is to close to the above area. Please leave some space above the bar.

[2016-10-27 17:11] rishiraj824 commented on #69
@mariobehling will fix this.

[2016-10-27 17:43] sandmanx commented on #60
@mariobehling On it with Godspeed!!

[2016-10-27 17:46] rishiraj824 commented on #61
@mariobehling updated the commit. Check for the changes.

[2016-10-27 17:52] jig08 commented on #60
@sandmanx if you don't mind, I just pushed my changes for the same ?

[2016-10-27 17:59] sandmanx commented on #60
@jig08 If the issue is fixed completely, no problem then : )

[2016-10-27 18:10] sandmanx commented on #59
@mariobehling I am not able to reproduce the bug.
![rsz_screenshot_from_2016-10-27_23-35-56](https://cloud.githubusercontent.com/assets/14184381/19779406/9aa423ac-9c9e-11e6-8f42-77190db029f8.png)

I think it was some temporary problem, as it is working fine now.

[2016-10-27 18:14] jig08 commented on #59
@mariobehling works fine here too.

<img width="403" alt="screen shot 2016-10-27 at 11 44 23 pm" src="https://cloud.githubusercontent.com/assets/9291400/19779579/4f5756de-9c9f-11e6-96e9-993de1859238.png">

[2016-10-27 19:55] mariobehling commented on #59
Ok, thanks. Seems to work now.

[2016-10-27 19:55] #59 closed

[2016-10-28 01:41] mariobehling opened #73 "Implement terms page"
The page at http://loklak.fossasia.org/terms currently does not hold information. Please implement the page as a terms of reference page in the same design as the other info pages, but without the picture. See below. The text for the terms is here: https://docs.google.com/document/d/1-w7C-PySdw1c8J2WbkBaqRRXjeXj3qFUoyDqAMbhlig

![screenshot from 2016-10-27 18 30 49](https://cloud.githubusercontent

[2016-10-28 04:40] pranayyelugam commented on #73
@mariobehling I would like to do this

[2016-10-28 12:30] mariobehling commented on #73
Ok great, go for it.

[2016-10-28 12:43] #61 closed

[2016-10-28 17:00] sandmanx opened #75 "Add Icon to all pages of loklak site"
Currently only one webpage has the loklak icon. http://api.loklak.org/

![rsz_screenshot_from_2016-10-28_22-21-32](https://cloud.githubusercontent.com/assets/14184381/19814909/f48cdea8-9d5d-11e6-98b9-ab58f61ddb6f.png)

I suggest adding the icon to every webpage in loklak search.

[2016-10-28 18:36] jig08 commented on #75
@sandmanx would you like to take up this issue ?

[2016-10-28 18:41] sandmanx commented on #75
Yes

[2016-10-28 19:04] pranayyelugam commented on #41
@mariobehling I'd like take up this.
Is the feed count limited to only 10 per a query string?

[2016-10-29 01:31] mariobehling commented on #60
Issue is not fixed. Last comments were not taken into account: https://github.com/fossasia/loklak_search/issues/60#issuecomment-256701691

[2016-10-29 01:35] mariobehling commented on #73
@pranayyelugam Thanks for setting up this site. Please ensure left side top "Terms of Service" heading is aligned same as the logo.

Please also ensure width is same as on this site: Also compare to: https://www.google.com/intl/en/policies/terms/

[2016-10-29 01:38] mariobehling commented on #75
@sandmanx Not sure, how this would look like exactly. Please provide screenshots and links to a sample site as you progress.

[2016-10-29 02:01] mariobehling opened #76 "Use same banner images across pages"
There are different banners images, that should not be there.
- [x] Please rename the about-banner.jpg to banner.jpg
- [x] Delete all other banners and use banner.jpg across the relevant pages

[2016-10-29 04:37] rishiraj824 commented on #76
@mariobehling will do this.

[2016-10-29 04:43] rishiraj824 commented on #60
@mariobehling please tell me what else needs to be fixed.

[2016-10-29 18:53] hemantjadon commented on #41
@pranayyelugam
I wrote This 10 query per page limit. It can be adjusted, in `src/app/shared/services/search/search.service.ts`.
I put up that limit to ensure fast loading of results

Can you please share the approach which you will take for making this ??

@mariobehling
Is there any backend pagination available in `loklak server`?

[2016-10-29 20:12] pranayyelugam opened #78 "changing the alternate text for an image"
The alternate text for the image loklak_banner_206x45 is set as "Dispute Bills" as shown in the image below.

I think it should be something related to loklak.
![capture](https://cloud.githubusercontent.com/assets/16484527/19832476/f9883c56-9e41-11e6-9bd9-615f3fa2328c.PNG)

[2016-10-29 23:37] mariobehling commented on #41
Not yet.

@Orbiter Is that something we want in the server?

[2016-10-30 00:13] mariobehling commented on #60
Still wrong text at section:

"News from us
Read up on our latest news and browse our blog (http://blog.loklak.net) for updates on our work."

[2016-10-30 19:39] rishiraj824 commented on #78
Fixed in the latest commit in  the pull request. #76 & #78

[2016-10-30 19:40] rishiraj824 commented on #69
@mariobehling please check this issue  is fixed already

[2016-10-31 16:44] mariobehling opened #81 "Ensure bottom menu sticks to bottom on search page"
If there are just a few results the bottom menu currently does not show up on the absolute browser window bottom.

Please ensure the bottom is on the actual bottom area if this happens.

![screenshot from 2016-10-31 09 45 48](https://cloud.githubusercontent.com/assets/1583873/19862743/d3eac262-9f4e-11e6-8735-a408100b127d.png)

[2016-10-31 16:56] hemantjadon commented on #81
@mariobehling
I know this issue since i wrote this, its the issue with peeking(not found) and non-peeking footer(generally) and will try to fix it asap.

[2016-10-31 17:01] mariobehling opened #82 "Rename loklak_banner_206x45.png to logo.png"
This file is a logo not a banner.

[2016-10-31 17:17] mariobehling opened #83 "Ensure all pages work on mobile resolutions"
Currently there are a number of issues for mobile resolutions of pages (e.g. see below). Please ensure pages are working on small resolutions.

![screenshot from 2016-10-31 10 12 44](https://cloud.githubusercontent.com/assets/1583873/19863838/040770b8-9f53-11e6-9531-6f7edc961aa0.png)

[2016-10-31 19:38] mariobehling commented on #69
@rishiraj824 Cannot confirm this is solved, e.g. on the search output page.

![screenshot from 2016-10-31 12 37 51](https://cloud.githubusercontent.com/assets/1583873/19868800/ed5ecf46-9f66-11e6-9a96-5f9be4637b9e.png)

[2016-10-31 20:28] mariobehling opened #84 "Add more contact info to contact page"
On the contact page at http://loklak.fossasia.org/contact, please add a section with the following info and use the sign up form of fossasia.org at https://github.com/fossasia/fossasia.org/blob/gh-pages/index.html .

----

If you would like to get updates about our activities and new releases, please subscribe to our newsletter here:

Name, Email, Subscribe

---

If you are a developer:

* Please

[2016-10-31 20:32] mariobehling opened #85 "Ensure bottom menu items link to top of pages"
Clicking on bottom links does not bring a user to the top of pages, e.g. if I am on the contact page (http://loklak.fossasia.org/contact) and I click on "Terms" I get into the middle of that page.

Please implement the expected behavior and open the new page on the top.

[2016-11-01 05:02] hemantjadon commented on #85
@mariobehling This might be an issue with `routerlink` directive, I will go through the documentation once, and check it out.

[2016-11-01 05:06] hemantjadon commented on #69
@mariobehling @rishiraj824 The feed page (search output page) issue is #81 and I am working on it. :)

[2016-11-01 05:09] rishiraj824 commented on #84
Will do it.

On Tuesday, November 1, 2016, Mario Behling <notifications@github.com>
wrote:

--
With Best Regards
Rishi Raj

[2016-11-01 05:11] rishiraj824 commented on #69
I will add a margin top to the footer. The space problem will be solved.

On Tuesday, November 1, 2016, Hemant Jadon <notifications@github.com> wrote:

--
With Best Regards
Rishi Raj

[2016-11-01 09:19] pranayyelugam commented on #82
@mariobehling will fix this.

[2016-11-01 11:02] hemantjadon commented on #69
@rishiraj824
Actually it won't solve the issue on all screen sizes something more dynamic will be required

[2016-11-01 17:35] rishiraj824 commented on #69
@hemantjadon a margin of 50px won't do any harm. Also will solve the issue here at #81.

[2016-11-01 17:46] rishiraj824 commented on #83
@mariobehling Please check the pull request. Thank You.

[2016-11-01 19:26] #82 closed

[2016-11-01 19:31] mariobehling commented on #83
@rishiraj824 Thanks, good job, but there is honestly no need to mention PRs here as we all get automated messages and will review when there is time. Cheers.

[2016-11-01 19:31] #83 closed

[2016-11-01 19:53] mariobehling opened #88 "Implement hashtags in search results as links to hashtags search within loklak_search"
Currently hashtags in search results link to the list of hashtag results on twitter.

The expected behavior is that "#hashtags" link to the search result page of loklak_search.

[2016-11-02 05:46] pranayyelugam commented on #78
This issue was fixed via #86  . I am closing it.

[2016-11-02 05:46] #78 closed

[2016-11-02 05:49] hemantjadon commented on #88
Will do it. Some `autolinker.js` tweaks are required.

[2016-11-02 06:49] jig08 opened #90 "loklak.fossasia.org not working/loading"
Console log.

[code]

<img width="1280" alt="screen shot 2016-11-02 at 12 20 59 pm" src="https://cloud.githubusercontent.com/assets/9291400/19919153/d8795088-a0f6-11e6-81b5-8b94abe8f634.png">

[2016-11-02 06:52] hemantjadon commented on #90
Fixed just now in #89

[2016-11-02 06:53] #90 closed

[2016-11-02 06:53] jig08 commented on #90
@hemantjadon thanks.

[2016-11-02 07:54] rishiraj824 commented on #84
@mariobehling will leave the 'action' of the form blank for now.

[2016-11-02 12:09] In-vincible commented on #29
I would like to work on this issue.. @hemantjadon should I give a try?

[2016-11-02 12:22] hemantjadon commented on #29
@In-vincible
Sure you can go ahead, i have not made much progress here.
Please share the approach and file structure which you will take.

I would recommend making a `service` that hits `api/suggest.json?q=<query>` and returns an observable.
Structure `suggest.service.ts` in `shared/services/search/suggest.service.ts`.

If you have a different approach I am happy to listen.

Cheers :)

[2016-11-02 12:26] hemantjadon commented on #29
@In-vincible
Do setup a test site on gh-pages, and use `angular-cli` for deploying on that, If you face any difficulty in setup i will be happy to help.

[2016-11-02 16:42] In-vincible commented on #29
@hemantjadon **" hits api/suggest.json?q=<query> "**  this I didn't get I am supposed to send request to "http://api.loklak.org/api/suggest.json?orderby=query_count&order=desc&minified=true&q=<query>" ,  I just started to explore this project today only :)

[2016-11-02 17:16] hemantjadon commented on #29
@In-vincible
Yes, of course you have to send request to http://api.loklak.org/api/suggest.json?orderby=query_count&order=desc&minified=true&q=

What I was trying to say there is make a separate independent service.

[2016-11-02 17:25] jig08 commented on #29
@hemantjadon @In-vincible I vouch for `separate independent service for this functionality.`

[2016-11-03 03:34] mariobehling commented on #84
@rishiraj824: Please re-use the FOSSASIA form. Code can be mostly copied from the FOSSASIA repository for now. We are using the same service for now. Cheers.

[2016-11-03 03:44] mariobehling opened #92 "Add infobox to search results on right side on result page"
Services like Duckduckgo and Google create an infobox to search results.

* [x] Please add a similar sidebar to search results (as was shown in the webclient wall before).
* [x] Implement similar clean design with white background and gray border

Sample infobox at Google

![screenshot from 2016-11-03 11 41 53](https://cloud.githubusercontent.com/assets/1583873/19955280/c714c0ec-a1ba-11e6-9b35-224

[2016-11-03 03:53] mariobehling opened #93 "Implement design changes of start page"
* [x] Please ensure the area of the search bar is at around the same area as the Google search bar.
* [x] And slightly decrease the size of the loklak animal to match the logo position of Google
* [x] Ensure the bottom bar already shows up in smaller resolutions (similar to Google)

Please see the difference below. Let's make it more equal.
![screenshot from 2016-11-01 15 25 19](https://cloud.gith

[2016-11-03 05:55] #88 closed

[2016-11-03 06:04] hemantjadon opened #96 "Links not opening properly on about page"
On about page links like `#OpenData` are not opening properly

[2016-11-03 06:11] mariobehling opened #97 "Propose and implement a parsing linking module for hashtag linking"
Hashtags are currently linking internally. This uses simple redirect to the new page with new query and it is a temporary fix as autolinker.js replaceFn doesn't play well with angular.

Propose and implement a parsing linking module in future to make the things look more asynchronous.

Follow up to https://github.com/fossasia/loklak_search/pull/94#event-845950385

[2016-11-03 06:11] #96 closed

[2016-11-03 06:36] hemantjadon commented on #93
@mariobehling

* Should `Loklak Search!` header be removed ??

* Also sir google's bottom bar does not show up on mobile devices.

* They have entirely different CSS for mobile devices in which bottom bar is not in the viewport initially ie their desktop css is not applied when google.com is loaded on mobile. (Server side CSS selection for handheld devices)

* In my opinion bottom bar should not b

[2016-11-03 06:41] rishiraj824 commented on #93
@mariobehling I would like to work on the design of the homepage. We can
also have those filters 'Images, Videos etc' in the homepage.

On Thursday, November 3, 2016, Hemant Jadon <notifications@github.com>
wrote:

--
With Best Regards
Rishi Raj

[2016-11-03 07:14] mariobehling opened #98 "Implement @user in search results as links to @user search within loklak_search"
Currently @user links in search results link to the list of @user results on twitter.

The expected behavior is that "@user" link to the search result page of loklak_search.

Note: In order to provide all relevant data of a user, we will add an infobox with user data on the right handside at a later point.

[2016-11-03 07:19] hemantjadon commented on #98
Do we want to have all the results (tweets) from the respective user here?

If so should `from:<username>` be used as a query

[2016-11-03 09:38] In-vincible commented on #29
@hemantjadon can you give me brief steps for deploying gh-pages using angular-cli

[2016-11-03 10:16] mariobehling commented on #98
@hemantjadon Yes, as this is the way Twitter works, it should work the same e.g. http://loklak.fossasia.org/search?query=from:mariobehling

[2016-11-03 10:24] mariobehling opened #99 "Some hashtags not showing to internal search"
![screenshot from 2016-11-03 18 23 26](https://cloud.githubusercontent.com/assets/1583873/19962461/b234c0d6-a1f2-11e6-8c9d-38fceca82aab.png)

Please ensure all hashtags show to internal search.

The tag #openwrtsummit shows to twitter instead of internal search.

[2016-11-03 10:39] mariobehling commented on #44
There was a favicon added, but it was not linked apparently and does not show up in the browser tab.

[2016-11-03 10:42] mariobehling opened #100 "Show "early search results" during user input"
Early versions of the search already generated views based on the beginning of the search, similar to Google. Entering search terms now does not generate any "early results".

Please implement searches that start once the user starts typing.

[2016-11-03 11:31] hemantjadon commented on #44
@mariobehling
This is due to the fact angular-cli generates the build.

Only the stuff in `assets` folder is emitted as is, so there is a need to place and link favicon from `assets` folder.

[2016-11-03 11:37] hemantjadon commented on #99
@mariobehling
This seems to be working fine, If all links are not working It might be a `caching` issue, A `hard refresh` is needed after every site update.

* Do `ctrl(cmd)+shift+R` or open `devtools` then press the combination.

* A issue can be opened to address to address such caching issue.

[2016-11-03 13:15] #44 closed

[2016-11-03 13:22] mariobehling commented on #99
Ok, hard refresh does not work always. It might be cached online by cloudflare. Issue goes away in private mode. Cheers.

[2016-11-03 13:22] #99 closed

[2016-11-03 13:32] mariobehling opened #103 "Add time information to tweet"
Twitter adds info on when a tweet was posted. Please add date/time info on loklak as well.

![screenshot from 2016-11-03 21 31 11](https://cloud.githubusercontent.com/assets/1583873/19967876/04602c5a-a20d-11e6-9fa9-fbe8a758a05b.png)

[2016-11-03 13:59] hemantjadon commented on #29
@In-vincible Sure.

* The setup is pretty simple just create a fork of this repo.

* Clone the repo to your machine

* Install node>=5 (Use 6) and npm >=3

* Install angular-cli https://github.com/angular/angular-cli#installation

* Then run `ng serve`, if all things went perfectly your server will be running the SPA at http://localhost:4200

* Then you can deploy on gh-pages of your repo simply b

[2016-11-03 14:45] #98 closed

[2016-11-03 16:37] hemantjadon commented on #3
@Orbiter
Sir any progress regarding this on backend?

[2016-11-03 19:48] mariobehling opened #105 "Improve message lightbox."
Currently the link area of a tweet opens the actual tweet at twitter. The expected behavior would rather be to open a lightbox (just like twitter), that brings the user back to the search page.

* [x] Please implement a simple overlay lightbox with the tweet info
* [x] Autolinking the text in the cards #141.
* [ ] Responsive UI design of message lightbox #142.
* [ ] In the bottom area show a link

[2016-11-04 08:03] pranayyelugam commented on #103
@mariobehling  In twitter ,if we click on the date/time a link opens up in a new page showing the tweet.
Does this need to be added here?
If it is to be added then I think it should be opened as  shown in [#105](https://github.com/fossasia/loklak_search/issues/105)

[2016-11-04 08:24] jig08 commented on #103
@pranayyelugam This seems like a god feature too.

[2016-11-04 08:27] mariobehling commented on #103
@pranayyelugam No, this is not relevant for this issue. As in the screenshot the time/date should be added next to the name/username - here: Knot Unknow @MadeleineS - 3h.

There is another issue here about opening messages in a lightbox: https://github.com/fossasia/loklak_search/issues/105

[2016-11-04 19:45] sandmanx commented on #75
@mariobehling I don't know what was the problem, but now the loklak icon is visible now on all the pages of loklak website. You can close the issue now.
![screenshot from 2016-11-05 01-13-42](https://cloud.githubusercontent.com/assets/14184381/20020069/52e24654-a2f5-11e6-9f3b-dd58e12e59b1.png)

![screenshot from 2016-11-05 01-15-43](https://cloud.githubusercontent.com/assets/14184381/20020076/5dad

[2016-11-04 20:04] #75 closed

[2016-11-06 12:49] Orbiter commented on #41
pagination is now implemented, for query parameters the SRU 2.0 standard was implemented.
See https://github.com/loklak/loklak_server/commit/92f8fe33006f8083412803f3cc1fbe315941d906

I.e.:
first page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=1&maximumRecords=10
second page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=10&maximumRe

[2016-11-07 11:12] sudheesh001 commented on #41
Documentation pending in loklak_server. Changes need to roll out for pagination support in all the SDK Wrappers on Python, Ruby, PHP and Go

[2016-11-09 07:30] pranayyelugam commented on #103
@mariobehling @jig08   twitter uses twitter timezone settings to find the time since the tweet was posted . Do loklak have any such source where we could get the current time ? or should we use the system  time to get the current time?

[2016-11-09 09:37] jig08 commented on #103
@Orbiter Your input please.

[2016-11-10 07:25] mariobehling commented on #103
There is already a time in the JSON files. This time is in UTC. So, you can get the timezone/time from the browser and take the tweet time from the JSON.

[2016-11-20 10:44] Orbiter commented on #103
Hint: please use the timezoneOffset query parameter as documented in http://api.loklak.org/api.html#search

There is also an example on how to use the browser timezone offset, just look into the code of http://api.loklak.org/index.html

[2016-11-25 06:15] Orbiter opened #108 "unshorten shortened links to link stubs"
Texts in loklak search results may contain shortened links which point to loklak for unshortening, like: http://loklak.org/x?id=802029515690180608
We want to see those links as original link stubs. To make this possible, the loklak json now contains an ```unshorten``` object, i.e.
[code]
Here, the link http://loklak.org/x?id=802029515690180608 is currently rendered as
[code]
but using the ```unsho

[2016-11-26 02:07] Achint08 commented on #85
Hello @mariobehling  .There is another way using "router.events.subscribe" . Tell me if this works or do I make another pull request?

[2016-11-26 08:32] mariobehling commented on #85
Yes, could be a good solution.

[2016-11-27 00:59] rishiraj824 commented on #84
Error while running the command `ng test` in terms.component.spec.ts
![screenshot from 2016-11-27 06 18 17](https://cloud.githubusercontent.com/assets/11540785/20644819/82f0fe68-b46a-11e6-956c-b4059dbf0813.png)
Here's the Contact Page. Should I make the PR? @mariobehling
![screenshot from 2016-11-27 06 25 41](https://cloud.githubusercontent.com/assets/11540785/20644820/82f73ad0-b46a-11e6-919e-e152

[2016-11-27 01:01] rishiraj824 commented on #76
Removed all other banners and about-banner is not there any more. @mariobehling

[2016-11-27 06:53] #76 closed

[2016-11-27 14:44] hemantjadon commented on #103
@mariobehling
Do we need constantly updating timestamp like implemented right now which changes in every 10s.
I think a constant timestamp should be enough.
Your views please.

@pranayyelugam Want to work on this issue further?

[2016-11-27 16:01] hemantjadon opened #111 "Update dependecies of the repository."
Dependencies of the repository are falling behind and need to update to stable versions.

[2016-11-27 16:12] #111 closed

[2016-11-27 17:29] pranayyelugam commented on #103
The created_at timestamp in the api json is in UTC and the time from the browser is in UTC so I think there's no need for timezoneoffset here to calculate the time since a tweet was posted.However we should add the timezoneoffset parameter in the API call for location based results.About the updating of the browser time every 10 sec, is there any better approach?. Input please??

[2016-11-28 05:44] shubhsingh594 commented on #108
hi all, can i work on this one?

[2016-11-28 09:13] mariobehling commented on #108
Sure, please go ahead.

[2016-11-29 06:50] hemantjadon commented on #29
@In-vincible Any updates on this issue ??

[2016-11-30 13:48] In-vincible commented on #29
@hemantjadon previously I couldn't start my work as I didn't know angular 2 and was busy with my semester exams, now I have learnt it, I have already setup the local system and read necessary code of the project to start working on my issue, I will publish the gh-pages right away..please accept my apologies for the delay, right now I am writing the service(for autocompletion), will contact you wit

[2016-11-30 16:22] hemantjadon commented on #29
@In-vincible
No problems, I just wanted to make sure that you are still working on the task. Take your time.
Make sure that you share the progress here or at gitter.
Cheers :)

[2016-11-30 19:17] jig08 commented on #108
@shubhsingh594 Also join the specific team so that this issue can be assigned to you :)

[2016-12-01 10:42] rishiraj824 commented on #84
@hemantjadon any suggestions here?

[2016-12-01 10:45] rishiraj824 commented on #49
@mariobehling How are we detecting videos, images etc. ? Is it available in the API?

[2016-12-01 10:47] hemantjadon commented on #84
I guess if you have pulled the latest changes this must be resolved.

I solved it in #112 I guess. Please check.

[2016-12-01 10:48] rishiraj824 commented on #84
@hemantjadon Okay I'll check, thanks.

[2016-12-01 10:49] hemantjadon commented on #49
@rishiraj824
We are not currently detecting the videos. but it can be done pretty easily using `videos` key from the `api-response`.
This issue can be solved when we get correct URL'S check #3 for further details.

[2016-12-01 11:00] rishiraj824 commented on #49
Alright. Then the sub tabs are on hold till #3 is fixed, I guess.

[2016-12-01 11:33] hemantjadon commented on #49
Well I have created the UI part of the tabs but I am waiting for the backend code to be rectified.

[2016-12-01 11:35] rishiraj824 commented on #49
@hemantjadon was just going to ask you if that was made. Awesome then !

[2016-12-01 11:48] rishiraj824 commented on #92
@mariobehling Can you please explain, for which type of queries would the infobox come up if they are to show Top Twitterers and Top Hashtags. eg. If the query has 'hello world' then the Top Twitterers with the name 'hello world' would come and similarly Top Hashtags containing 'hello world' ? Also, where is this available in the API ?

[2016-12-01 13:09] hemantjadon commented on #92
@rishiraj824 this can be good start.
@Orbiter your inputs on how this can be extracted from API.

[2016-12-01 19:50] Orbiter commented on #108
Please read again the requirement to understand that the replacement must be done only in the anchor text, not the anchor link.

[2016-12-02 05:52] shubhsingh594 commented on #108
@orbiter  okay yeah, i assumed they are valid links, will make another pull request

[2016-12-03 09:34] #108 closed

[2016-12-03 09:34] #97 closed

[2016-12-04 11:55] hemantjadon opened #116 "App breakdown in some cases"
In some cases the app is breaking down unexpectedly since the last change.

[2016-12-05 09:13] #116 closed

[2016-12-09 08:42] mariobehling commented on #92
@rishiraj824 @hemantjadon All required info for that can be requested through the APIs as documented here: http://loklak.org/api.html

It was done on the webclient before: https://github.com/fossasia/loklak_webclient

[2016-12-09 20:49] ankitrgadiya opened #119 "Insufficient Documentation"
There is no information provided on how to install it.

[2016-12-10 06:45] hemantjadon commented on #119
Hi @ankitrgadiya thanks for raising the issue.

`Loklak Search` project is very much in its initial phase of development thus there some insuffitient documentation for installing and getting used to the architecture.

Well the installation is very simple,

* just clone the repository, add the install

* node >= 6

* npm >=3

* then run `npm install` while in the project directory this will install

[2016-12-10 08:12] jig08 commented on #119
@hemantjadon I suggest you to add a `installation guide` in the repo for new contributors :)

[2016-12-10 08:59] ankitrgadiya commented on #119
@jig08 I'll do that once my own version will work.
@hemantjadon Localhost is working fine.
Github pages version is currently building. But yeah I'll do that soon.

[2016-12-10 09:11] hemantjadon commented on #119
@jig08 Can we add it as a task?

[2016-12-10 09:11] jig08 commented on #119
@hemantjadon That'll be great !

[2016-12-10 10:10] ankitrgadiya commented on #119
Then I'm gonna claim that next.

[2016-12-10 11:02] mariobehling commented on #119
Ok, great. Would be happy if the setup works out! I also added a task to work on documentation for GCI here: https://codein.withgoogle.com/tasks/5747664924704768/

[2016-12-10 11:57] pipix51 opened #120 "Missing Details for Documentation"
There are a few details missing in the Technology Stack-Component section of the ReadMe.md of the repository as well as a few grammatical errors.

[2016-12-10 12:32] ankitrgadiya commented on #119
Okay working on it!

[2016-12-10 14:07] Heredroky commented on #105
@mariobehling Can I work on this issue?

[2016-12-10 14:14] hemantjadon commented on #105
Yes @Heredroky sure go ahead.

[2016-12-10 14:24] hemantjadon opened #123 "Redux based architecture"
Currently our application has a basic functionality and basic components still there are a lot of cross component state dependencies.
We have service but our components are unable to share their state and are pretty much have their own state and mutate it.
As our application grows this might be huge bottleneck, and might lead to a confusing code base in an application of decent size.

The simple s

[2016-12-10 14:25] hemantjadon commented on #123
@mariobehling  I am currently working on this application structure.

[2016-12-10 14:47] mariobehling commented on #123
@hemantjadon Thank you. Personally I am not familiar with it, but if someone else has feedback very welcome. If you think it is useful, please proceed. If it continues to run on Github pages would be great.

[2016-12-10 15:33] hemantjadon commented on #123
@mariobehling It will definitely work on `gh-pages` or wherever we want, this is not change of framework but the architecture in which data travels across the application. I think it will be useful to have independently testable components and services.
If someone else has any feedback or opinions I will be happy to incorporate them. :)

[2016-12-11 06:11] #120 closed

[2016-12-11 06:12] jig08 commented on #119
wrt PR https://github.com/fossasia/loklak_search/pull/122 closing this.

[2016-12-11 06:12] #119 closed

[2016-12-13 09:32] #123 closed

[2016-12-14 09:07] uttu357 commented on #42
Hi! @mariobehling can I work on this issue?

[2016-12-14 09:59] uttu357 commented on #42
Thanks! @mariobehling I am thinking of showing hashtags that appear in the search results.. They are present for every feed result at this route. http://api.loklak.org/api/search.json?q=fossasia

[2016-12-14 11:14] hemantjadon commented on #42
@uttu357 This will be nice start :)
Accumulate all the hashtags used in all the results along with frequencies and then show them in sorted order at the bottom.

Use ES6 syntax if possible :)

[2016-12-14 12:37] uttu357 commented on #42
Sure! :+1:

[2016-12-14 15:27] hemantjadon commented on #100
@mariobehling This can be closed i guess. Its fixed in PR#126.

* This might seem as not fixed in the first go, but wait for the few seconds for results to be fetched dynamically. (Time delay is purely due to time taken by the server to respond)

* We may add preloader bar (or spinner).

* This will seem more complete once autocomplete is implemented.

[2016-12-14 15:29] hemantjadon commented on #81
Fixed this issue for the feed Page in PR #126.

[2016-12-15 04:50] #81 closed

[2016-12-15 07:51] #100 closed

[2016-12-15 14:50] SpEcHiDe opened #128 "Invalid Link"
A link in this page: http://loklak.fossasia.org/contact points to an invalid location!
[code]
It should have pointed to a contact form, if it exists!

[2016-12-15 15:12] hemantjadon commented on #128
@SpEcHiDe
Thanks for ponting this out Cheers :)

@mariobehling Can you please point out where it should point actually? (Parent issue #61 ).

[2016-12-16 07:59] hemantjadon commented on #42
This issue is fixed for a start in the above PR #127.  Now what we can work on this issue is making the `hashtags` as sort of redux state. That is with each element when it arrives we also save the
The hashtags also which come with it.

What do you think @uttu357 ?

[2016-12-16 08:08] uttu357 commented on #42
Making hashtags as sort of redux state is necessary and helpful when multiple components need them as is the case with the API Results and Query. If such a use case arises then we can move it and save it as a redux state?

Your thoughts? @hemantjadon

[2016-12-16 08:23] hemantjadon commented on #42
Well yeah right now there is only this component making use of the hashtags.
But this seems like the application component is keeping a slice of the data (computed from the state) and making a sort of personal state. Which should not be the case with a presentational component. Also it seems very likely that this hashtag data might be used by some other component.
We can maybe delay this for now,

[2016-12-16 08:51] uttu357 commented on #42
Then yeah let us do it now as it is very likely that it might be used by some other component. Ill file a PR asap. :+1:

[2016-12-16 08:53] rishiraj824 commented on #105
If this issue is still not fixed, can I do it ? @Heredroky

[2016-12-16 08:55] hemantjadon commented on #42
@uttu357 Sure :) Cheers :)

[2016-12-16 09:33] mariobehling opened #129 "Hashtag links do not link to top of page"
Right now clicking to a hashtag on the bottom of the page does not bring the user to the top of search results. Please ensure it links to the top of pages.

![screenshot from 2016-12-16 16-31-44](https://cloud.githubusercontent.com/assets/1583873/21257952/48e57ecc-c3ad-11e6-8bbf-77851338c1bd.png)

[2016-12-16 10:43] uttu357 commented on #129
The bug is the same as #85

[2016-12-16 10:53] hemantjadon commented on #129
Duplicate of #85. can be closed.

[2016-12-16 10:55] #129 closed

[2016-12-16 12:36] Heredroky commented on #105
Sorry, I'm working on it

[2016-12-16 14:33] rishiraj824 commented on #93
Please check the design changes made after Google Homepage.

**Normal State-**

![screenshot from 2016-12-16 19 51 06](https://cloud.githubusercontent.com/assets/11540785/21266077/805c2064-c3ca-11e6-84c5-af5bb3758546.png)

**Hover State -**

![screenshot from 2016-12-16 19 51 25](https://cloud.githubusercontent.com/assets/11540785/21266078/805d74fa-c3ca-11e6-866f-b33f033ad746.png)

`ng lint ` and

[2016-12-16 15:47] rishiraj824 commented on #105
No Problem :)

[2016-12-16 16:14] hemantjadon commented on #93
Hey @rishiraj824 can you quickly show the gh-pages link it will bw great to see the changes.

[2016-12-16 16:15] rishiraj824 commented on #93
Ya sure will push the change to gh-pages.
On Fri, 16 Dec 2016 at 9:44 PM Hemant Jadon <notifications@github.com>
wrote:

[2016-12-16 18:53] rishiraj824 commented on #93
Deployed on my gh-pages. Please check @mariobehling  @hemantjadon.
[http://rishiraj.co/loklak_search/](http://rishiraj.co/loklak_search/)

[2016-12-17 09:12] hemantjadon commented on #93
Things seem okay to me. There is no need of button with Loklak Search written on it.

I guess the banner which was before would work fine.

Also some responsive tweaks are required on small size devices.

[2016-12-17 15:50] rhemon opened #132 "Improve Instructions for setting up page on github"
The instruction for setting up page is not step by step. I would like to make improvement on that if its ok

[2016-12-17 15:55] hemantjadon commented on #132
Ok @rhemon go ahead 👍

[2016-12-17 16:50] #42 closed

[2016-12-19 11:19] #132 closed

[2016-12-20 08:00] hemantjadon commented on #105
The above PR #137 implements a basic design which can be improved.

Also the performance can be improved a lot by using a single component for overlay with `State` based selection. Which will be much easier to implement than the current architecture.

[2016-12-20 08:03] hemantjadon opened #140 "CSS framework."
Currently we are using Bootstrap as the CSS framework but it is not being used widely across the application. also for proper function of bootstrap, we have to include the `jQuery` which is not quite necessary in the application. As angular in itself should be used for DOM manipulation not any external framework.

We can remove the framework and go on with either no framework approach or go with `

[2016-12-22 10:06] uttu357 commented on #140
@hemantjadon i would like to work on this..

[2016-12-22 12:35] hemantjadon commented on #140
Yeah sure @uttu357.
Please share how will you proceed, ie. going without framework at all, or using `angular/material2`?

[2016-12-22 14:51] rishiraj824 commented on #92
@mariobehling I'd like to go ahead with this issue.

[2016-12-22 23:06] Achint08 opened #141 "Unmodified links in the lightbox."
All the feeds with links particularly in the last are replaced by loklak.org links as returned from Api Response(which redirect to the same link)  in the feed lighbox. Moreover , the "View on Twitter" is not working.
![screen shot 2016-12-23 at 3 50 54 am](https://cloud.githubusercontent.com/assets/15813932/21442353/7155c8a6-c8c3-11e6-8491-e8246bfa4d96.png)
![screen shot 2016-12-23 at 3 52 39 am](

[2016-12-22 23:14] Achint08 commented on #105
@hemantjadon what new design features can be added in the box? I recently found a issue #141 .
I would like to work on this issue. Can I?

[2016-12-22 23:15] rishiraj824 opened #142 "Lightbox needs to be made responsive."
![capture](https://cloud.githubusercontent.com/assets/11540785/21443355/8333bcd4-c8ca-11e6-8def-98ba9a9fb635.PNG)

Either the size could be reduced or the tweet can use full height and width of the device.

[2016-12-23 01:27] hemantjadon commented on #105
@Achint08  Yes sure you can go ahead and work on this.

* [ ] Responsive UI design of message lightbox #142.

* [ ] Autolinking the text in the cards #141.

[2016-12-23 01:30] hemantjadon commented on #105
For auto linking use `AutolinkerConfig` and `feed-autolinker` component. take hint from what is implemented in `feed-card`. It is easy to implement.

[2016-12-23 01:37] hemantjadon commented on #142
@rishiraj824 Thanks for pointing this out, please check #105 out for followup on this

[2016-12-23 01:38] hemantjadon commented on #141
Please followup on #105 (Parent Issue)

[2016-12-23 09:38] uttu357 commented on #140
Without framework would be a better option in my opinion... keep it simple and good..

[2016-12-23 10:12] hemantjadon commented on #140
@uttu357  Yeah sure go ahead. As a part of the issue you have to fixup all the places where the UI breaks after removing the Bootstrap and jQuery.

[2016-12-23 10:18] uttu357 commented on #140
sure.. :+1:

[2016-12-23 10:39] mariobehling commented on #142
Closing this in favor of: https://github.com/fossasia/loklak_search/issues/105

[2016-12-23 10:39] #142 closed

[2016-12-23 10:40] mariobehling commented on #141
Closing this in favor of: https://github.com/fossasia/loklak_search/issues/105

[2016-12-23 10:40] #141 closed

[2016-12-23 10:45] #93 closed

[2016-12-23 14:46] mariobehling opened #144 "Lightbox pops up when clicking on link"
Currently the light box pops up when the user clicks a link in a tweet.

Expected behavior: Linked page should be loaded instead of lightbox.

[2016-12-24 08:41] mariobehling opened #146 "Switch site to https"
What needs to be done?

[2016-12-24 10:27] Achint08 commented on #144
Solved this issue in PR #145

[2016-12-24 10:51] hemantjadon commented on #144
@Achint08 doesn't seem to be fixed to me in your demo site. Please check

[2016-12-24 10:58] Achint08 commented on #144
@hemantjadon Now the lighbox will come up when clicked on near the text area.

[2016-12-24 11:10] hemantjadon commented on #146
Hi @mariobehling
This not the error with the Loklak Search being deployed on `gh-pages`. I will try to explain what is happening.

* The backend api is deployed on `http`.

* The browsers have a security feature that if the host is `https` they block all the responses to the requests made to unsecure `http` and throw `MixedContent` error.

* We faced this issue also when we first deployed on `gh-p

[2016-12-24 11:21] hemantjadon commented on #144
@Achint08 I don't think this is what is required here. We want to stop the bubbling of the click event when the inner a tags are clicked. You have attached the click handler to the Paragraph I don't think it fixes this issue.

[2016-12-24 11:40] hemantjadon commented on #128
@mariobehling Can you point out where should this link point.
![loklak search](https://cloud.githubusercontent.com/assets/11755543/21466799/c74d54f2-c9fb-11e6-83d5-a317859b05c8.png)

[2016-12-24 11:57] Achint08 commented on #144
@hemantjadon  ok sure. I removed the Commit in the PR. Will work on that later.

[2016-12-25 06:58] adnrs96 commented on #144
Hey @hemantjadon i would like to work on this, infact i have fixed this and would like to create a PR.
Please add me to codeheat github team

[2016-12-25 07:09] hemantjadon commented on #144
@mariobehling Please add @adnrs96 to the team :)

[2016-12-25 07:19] adnrs96 commented on #144
@hemantjadon Should i wait until added to the team or create PR right away.
Please review whether the issue is resolved successfully. I have a version running in github pages at link
https://adnrs96.github.io/loklak_search/
Thanks in advance

[2016-12-25 07:40] hemantjadon commented on #41
Hi,
I am thinking of ways to implement this. Practically there are two solutions possible.

* Infinite Scroll List (Auto loading / load more on click button)

* Basic Paginiation With page buttons.

There are Pros and cons of both the approaches.

#### Infinite Scroll list

* Pros :

   * Easy to implement in current situation with `ngrx/store`

   * Easy filtering implementation once (video/image

[2016-12-25 07:44] hemantjadon commented on #144
Open up the PR there is no harm in it. 👍

[2016-12-25 07:47] Abhi2424shek commented on #146
@mariobehling what @hemantjadon has posted is absolutely correct, we should migrate the backend to https protocol to migrate this project to https protocol.

In my opinion we would need to migrate as Internet security is looming large and more and more security restrictions will occur to the http protocol in the near future

[2016-12-25 09:13] mariobehling commented on #144
@adnrs96 Please accept the invitation to the team at https://github.com/fossasia.org

[2016-12-25 09:24] mariobehling commented on #41
@hemantjadon Thanks for this sum up from your side. Lazy rendering sounds like a good thing then. Please go ahead and implement it. Cheers.

[2016-12-25 09:58] #144 closed

[2016-12-25 18:34] nikhilrayaprolu commented on #29
@hemantjadon @In-vincible any updates regarding this?
shall I work on this issue?

[2016-12-26 10:05] In-vincible commented on #29
@hemantjadon I have written service  /shared/suggest/suggest.service.ts for fetching the suggestions please help me proceed , I think we should show first 6-7 results, should I start writing the UI for auto completion ? Also I had this conflict error in src/app/shared/classes/search/api-response.ts when I pulled as I had the template objects for suggestion in my local, should I clone new copy and

[2016-12-26 11:14] hemantjadon commented on #29
@In-vincible Well if you have written the service and you are somewhat busy right now you may open up the PR for writing the service, lets first see it.
There are many changes in the core architecture of the code. So your service will not be hooked directly into the component but as a `ngrx/effect`. You can show up the code so that we can discuss what is needed to be done.

If you are busy somehow

[2016-12-26 12:09] In-vincible commented on #29
I have given the PR with service written only, please suggest changes, busy yeah I will see if am not able to devote time I will assign it to @nikhilrayaprolu :)

[2016-12-26 14:30] mariobehling opened #152 "Add a contact form as a lightbox"
On the page http://loklak.fossasia.org/contact there is a contact button. Please add a lightbox to the system, that opens on clicking "contact" on the page.

[2016-12-26 14:30] mariobehling commented on #128
@hemantjadon We should have a contact form that opens in a lightbox here. I opened an issue: https://github.com/fossasia/loklak_search/issues/152

[2016-12-26 14:32] hemantjadon commented on #128
Okay cool :) So should this be closed??

[2016-12-26 14:46] Achint08 commented on #152
I would like to work on this. :)

[2016-12-26 14:47] hemantjadon commented on #152
Okay Anchit I am assigning it to you :)

[2016-12-26 14:50] Achint08 commented on #152
@mariobehling  @hemantjadon  What thing you would like me to add in the lightbox?

[2016-12-26 14:50] hemantjadon commented on #152
Well I don't know why but your name is not appearing in list. Still you start work on this.

[2016-12-26 22:41] Achint08 commented on #152
@mariobehling What I think about in the contact form is to add
1.)Name
2.)Email
3.)Options for Issue type
      a.)Report  abusive content
      b.)Report a safety issue
4.)a text input form for explaining it.
Kindly tell me if I am adding the correct options?

[2016-12-27 09:32] #85 closed

[2016-12-27 10:16] Achint08 commented on #60
@mariobehling  Let's close this PR. I am correcting this.

[2016-12-27 10:54] #60 closed

[2016-12-27 15:50] #41 closed

[2016-12-27 15:58] hemantjadon commented on #41
@mariobehling Is the current implementation using `Show More` button good?
Also please tell what to do if the there are no results come via the api.
Which happens many time, sometimes the results come up clicking `Show More` 5-10 times.

[2016-12-27 15:59] hemantjadon commented on #140
@uttu357 Any updates regarding this?

[2016-12-27 16:04] hemantjadon commented on #84
@rishiraj824 Are you working on this ??

[2016-12-27 16:25] uttu357 commented on #140
Working on it will file a PR soon enough.. Sorry for the delay..

[2016-12-27 16:26] rishiraj824 commented on #84
In #152,  I think we are using a lightbox for the contact form so this issue can be closed now. @hemantjadon

[2016-12-27 16:28] rishiraj824 commented on #105
Can I work on the responsiveness of the Lightbox? @hemantjadon

[2016-12-27 17:53] hemantjadon commented on #140
@uttu357 No problems i wanted to know that is there any problem in which I can help.

[2016-12-27 17:58] hemantjadon commented on #84
@rishiraj824 The info stated in the issue description is not on contact page I guess.
There is just address and Report safety abuse

[2016-12-27 18:04] rishiraj824 commented on #84
@hemantjadon Sorry for the misinformation then, will work on this and complete it.

[2016-12-27 19:45] uttu357 commented on #140
@hemantjadon I was thinking that we should move the individual styles for each component into a single folder src/styles/partials/ as partial scss files so that we can develop a uniform style using variables, mixins present in the other partials?

[2016-12-28 04:05] Achint08 commented on #28
@mariobehling @jig08  @hemantjadon I would like to work on this feature.

[2016-12-28 04:19] hemantjadon commented on #140
@uttu357 No I don't think so, the individual styles belong to each component, and its not logical to move them same folder.

What you can do is, make a `partials` file in maybe `shared/styles/theme.css` and apply common theme styles there (Only theme related styles) Nothing related to individual components must be out of there context.

There are many reasons for this:

* Harder to style individua

[2016-12-28 04:21] hemantjadon commented on #28
@Achint08 this API is not still cross browser and only available in Chrome so what I think is this can be delayed for now.

[2016-12-28 06:16] uttu357 commented on #140
ohkz.. :+1:

[2016-12-28 10:25] hemantjadon opened #158 "Adding linters for maintaining uniform code base."
The code linting is required, to maintain the the uniformity of the code, and code style.
We have good old `TSLint` for Typescript analyzing, along with `codelyzer` specifically for angular.
We need to have few more linters, integrated with Travis and which have plugins for major text editors like VSCode, Atom, Sublime Text etc.

* [ ] SCSS Linter
* [ ] HTML Linter

Coala Analyser is nice for inde

[2016-12-28 23:30] Achint08 commented on #105
I was implementing this lighbox as a single component for overlay with State based selection. Almost done with it. So to take advantage of this reducer state , What I am thinking is to add a left and right arrow button so that user can scroll the tweets in the lightbox format only(something like slide effect). What about this @mariobehling @hemantjadon @jig08 ?

[2016-12-29 04:40] hemantjadon commented on #105
This can be a later improvement I think, not required right now

[2016-12-29 13:48] jajodiaraghav commented on #152
What would happen when the user submits the form? Where should we submit the data?
Thanks in advance

[2016-12-29 14:13] jajodiaraghav commented on #73
I wonder why this issue is still open. Is there anything else that needs to be done?

[2016-12-29 16:10] hemantjadon commented on #73
@mariobehling any updates required in this?

[2016-12-30 18:09] Achint08 opened #161 "Make the reply, like and retweet options work."
I searched about it a lot. There are certain code to make it work. But there will be a popup window to use these options. Any other way  @hemantjadon  @mariobehling ?

[2017-01-01 21:17] mariobehling commented on #161
@Achint08 Yes, would be nice to get it working. Could you outline your idea, please? We are aiming of keeping the dependency on twitter APIs low though. What are your ideas?

[2017-01-02 12:54] #73 closed

[2017-01-02 13:06] Achint08 commented on #161
We can link it  to anchor tags with link "https://twitter.com/intent/{{like/retweet}?tweet_id={{id_str property of API response}}" for like and retweet.
and reply link to https://twitter.com/intent/tweet?in_reply_to=6{{id_str property of api response}}&ref_src=twsrc%5Etfw&tw_i={{id_str property of api response}}&tw_p=tweetembed.

[2017-01-03 03:39] #140 closed

[2017-01-03 09:53] uttu357 commented on #18
@hemantjadon @mariobehling I believe this issue is irrelevant now as we are not using bootstrap font/glyphs anymore and can be closed?

[2017-01-03 16:44] mariobehling opened #163 "Simplify "Search More" style"
The "search more" on the bottom introduces a new blue color and has a border element, that we do not find anywhere else on the site.

Please simplify the style to go inline with the page design
* [ ] Take out the background and border
* [ ] Only show the "Show More" in blue (as it is now) and bold
* [ ] Also ensure the cursor changes when scrolling over

![screenshot from 2017-01-03 17-38-52](http

[2017-01-03 16:46] mariobehling opened #164 "Only show "Search More" when there actually is "More""
Currently the "Search More" button also shows up, even when there are not more results. Clicking on the button results in no action.

Please only show "Search More" when more results are available.

[2017-01-03 17:50] uttu357 commented on #163
Would like to fix this..

[2017-01-03 18:41] uttu357 commented on #164
Would like to fix this issue..

[2017-01-04 04:21] hemantjadon commented on #164
@mariobehling @uttu357
This was the issue which I faced while writing the code, for pagination. The problem is I was not able to find the `number` of results. So was unable to check whether all results have been shown or not.

[2017-01-04 10:00] mariobehling opened #166 "Document how to set up a working system - including showing search results"
There are a number of people who have achieved to set up the service. However, the search result functionality does not seem to work. Please document how to get the service working.

[2017-01-04 10:03] mariobehling commented on #163
Please check the live site. It is not working for me yet.

[2017-01-04 11:19] BrainBuzzer commented on #152
@mariobehling Would you please tell where the data should be submitted? Or should there be another issue on loklak server repo for implementing that api?

[2017-01-05 04:31] hemantjadon commented on #163
@mariobehling please can you test this again. Even if it is the issue it is not because of #165 as it only have `css` changes.

[2017-01-05 07:18] mariobehling commented on #163
@hemantjadon Thanks. Looks good.

[2017-01-05 07:18] #163 closed

[2017-01-05 23:12] mariobehling commented on #166
@uttu357 I am not seeing GitHub pages of others that show search results. Any link for an example?

[2017-01-06 04:03] uttu357 commented on #166
Open https://uttu357.github.io/loklak_search/search?query=javascript and follow step 5 of https://github.com/fossasia/loklak_search/blob/master/README.md#for-deploying-with-github-pages. The search should work then.

[2017-01-06 06:17] djmgit opened #167 "Vertically align search button and search input field on results page"
Presently the search button and search input field on the search results page are not vertically aligned. The button is slightly shifted downwards.

[2017-01-06 15:47] hemantjadon commented on #164
@uttu357 Working on this??

[2017-01-06 15:50] hemantjadon commented on #18
Closing this as this is irrelevent now.

[2017-01-06 15:50] #18 closed

[2017-01-06 15:57] uttu357 commented on #164
@hemantjadon Yeah working on it! will file a PR soon.. :+1:

[2017-01-06 21:39] Elgayar commented on #166
https://elgayar.github.io/loklak_search/
Mine works as well, however as @uttu357 said, step 5 is the key for the search results to work.

[2017-01-07 12:15] pipix51 opened #171 "Improving Footer"
The Developers tab seems slightly misleading as it points towards loklak.org (loklak_server). Should this me renamed? And should there be a tab to link to the loklak_search GitHub repository?

[2017-01-07 12:19] hemantjadon commented on #171
I don't think this is relevent right now. Anything required here @mariobehling

[2017-01-07 13:07] Elgayar opened #172 "Show a loading bar while searching"
I think it's important to add a loading bar so that the user knows whether the problem is from our side or from his side, because when the screen is all white, it is confusing whether there is a server fault or my browser isn't working.

* [ ] Design/ Choose the loading animation.
* [ ] Hook them To the section.
* [ ] Show it while loading the results

[2017-01-07 13:09] Elgayar opened #173 "Show results while typing"
Google shows results from the moment you start typing, I think we should implement that as well. Because it may reveal relevant results to the user before they finish what they are typing.

[2017-01-07 13:26] mariobehling opened #174 "Some Hashtags in Japanese not rendered correctly"
It seems that Japanese hashtags/words are not always correctly rendered. I am not sure, why.

![screenshot from 2017-01-07 14-22-02](https://cloud.githubusercontent.com/assets/1583873/21741966/2571c7b8-d4e5-11e6-88c6-2c69648d2cf7.png)

compare: http://loklak.net/search?query=yacy

Search query for #!?*!!$%!? -- gives the result: http://loklak.net/search?query=%23!%3F*!!%24%25!%3F%20--

[2017-01-07 13:39] mariobehling opened #175 "Add info line below search box on front page"
The current page on loklak has an info line below the search box. Please add a similar below the search box on the front page. Use the following text:

Use #hashtag; "search text" for exact matches; near:location finds messages near a location; @user finds user mentions, from:user shows messages of a user

[2017-01-07 13:49] mariobehling opened #176 "Show loading icon after user clicks on "Show more""
Currently the user does not get feedback if there is a process running after he/she clicks on "Show more" at the end of a search result. The user often then clicks again and it seems like nothing is happening. Suddenly more results show up.

Please show a loading icon after the user has clicked "Show More" to indicate that a process is running.

[2017-01-07 13:52] uttu357 commented on #176
I would like to fix this. :+1:

[2017-01-07 13:53] uttu357 commented on #166
@mariobehling Can this issue be closed or it requires more information?

[2017-01-07 14:21] pipix51 commented on #175
I would like to work on this issue

[2017-01-07 15:47] mariobehling opened #178 "Disaligned search button and field"
The search button and field are slightly disaligned. Please align them.

![screenshot from 2017-01-07 16-46-03](https://cloud.githubusercontent.com/assets/1583873/21742921/e7b98488-d4f8-11e6-8328-c1e3c21a0bf4.png)

[2017-01-07 16:19] mariobehling commented on #178
Duplicate: https://github.com/fossasia/loklak_search/issues/167

[2017-01-07 16:19] #178 closed

[2017-01-07 16:26] Elgayar commented on #161
Solved! #169

[2017-01-07 16:27] #161 closed

[2017-01-07 18:02] Achint08 commented on #92
can I work on this now?

[2017-01-07 18:31] hemantjadon commented on #173
The dynamic loading is already implemented but is slow because of api response time. So this can be closed

[2017-01-07 18:31] #173 closed

[2017-01-07 20:50] uttu357 commented on #164
@hemantjadon To implement this I was thinking that as we ask for 30 records at a time; if on clicking on "See More" less than 30 records are returned then we can set `searchMore: false` in pagination state which will be used to detect if we have to show searchMore or not! Your suggestions?

[2017-01-07 21:19] Achint08 opened #180 "Website not working."
Kindly deploy gh-pages again . Due to internal server issues, the website is giving 404 not found response.

[2017-01-07 21:21] mariobehling commented on #180
We have moved to http://loklak.net/

[2017-01-07 21:21] #180 closed

[2017-01-08 00:48] #167 closed

[2017-01-08 00:53] mariobehling commented on #175
![screenshot from 2017-01-08 01-50-50](https://cloud.githubusercontent.com/assets/1583873/21746431/202f038c-d545-11e6-9a6b-c1bcb1f8fcf5.png)

On a second view, the first implementation has a font size that is too small.

* [ ] Please increase the font size a bit
* [ ] Also center the text and move it just below the search bar

[2017-01-08 01:04] #1 closed

[2017-01-08 01:13] mariobehling commented on #171
Ok, as we are at this, maybe let's do it: Please change as follows
* [ ] Developers link to http://dev.loklak.org
* [ ] On the right next to developers add "API" with link to http://api.loklak.org
* [ ] Next to API add "Apps" and link to http://apps.loklak.org

[2017-01-08 01:15] mariobehling opened #182 "Tweet time not displaying"
The tweet time only displays at some random actions, e.g. sometimes if the user clicks on a tweet all the other tweets show the time.

The tweets are not showing their time right away.

Expected:
* [ ] Tweet time shows up
* [ ] Tweets that have an hour should display e.g. "2h ago" instead of only "2h", which is currently the case

![screenshot from 2017-01-08 02-11-18](https://cloud.githubusercont

[2017-01-08 04:42] kaushikgunda commented on #175
@mariobehling I would like to work on this issue.

[2017-01-08 05:23] Bhargavasomu commented on #171
I would like to work on this issue

[2017-01-08 05:24] Bhargavasomu commented on #172
I would like to work on this issue

[2017-01-08 06:20] pipix51 commented on #175
@kaushikgunda Sorry, I did not notice your comment and sent a pull request which fixed the issue...Anyways, I submitted the previous pull request; it should be my responsibility to fix any issues which occur with the PR.

[2017-01-08 07:35] #182 closed

[2017-01-08 20:22] mariobehling opened #186 "Small design improvements"
Please improve as follows:
* use loklak in small (not capital letters)
* on start page write loklak search! instead of Loklak Search!
* on top left subpages write loklak using Courier New font
![screenshot from 2017-01-08 21-19-22](https://cloud.githubusercontent.com/assets/1583873/21753208/43d9b388-d5e8-11e6-99ec-d156aa6349d0.png)
* About, Contact, Terms pages use Courier New as a font for "lokla

[2017-01-08 22:24] mariobehling opened #188 "Implement tweet frequency in sidebar"
The tweet frequency will show how a certain keyword mentioning develops over time.

![screenshot from 2017-01-08 23-23-22](https://cloud.githubusercontent.com/assets/1583873/21754109/a5b3682c-d5f9-11e6-8254-728923db0323.png)

[2017-01-08 22:27] rishiraj824 commented on #188
Will implement this on the infobox added. @mariobehling

[2017-01-08 22:37] mariobehling opened #189 "Implement a heatmap of results as a small widget in the sidebar"
Please implement a heatmap widget in the sidebar of search results showing the distribution of tweets on a map.

[2017-01-09 00:13] Shivang-Bhandari commented on #186
Hi @mariobehling I would like to work on this issue.

[2017-01-09 00:57] Achint08 commented on #174
@mariobehling This is not a bug. Problem was with the actual tweet.
![screen shot 2017-01-09 at 6 23 34 am](https://cloud.githubusercontent.com/assets/15813932/21755138/9c661dc4-d634-11e6-83d4-1373cb2041e2.png)

Let's close it.

[2017-01-09 00:58] Achint08 commented on #189
@mariobehling Can i work on it?

[2017-01-09 03:12] hemantjadon commented on #174
Aah this highlights the problem in code I wrote in autolinker moule. All the things which start with '#' are not hashtags, have to use shards and "hashtags" object from the response from the api response.

I will fix this :)

[2017-01-09 03:15] #186 closed

[2017-01-09 11:55] djmgit opened #192 "Url navigation problem"
On firing up http://loklak.net/about on browser instead of going to the about page, user is redirected to fossasia.loklak.org.

[2017-01-09 11:56] djmgit commented on #192
Also I would like to work on this :)

[2017-01-09 21:01] #164 closed

[2017-01-10 03:41] #105 closed

[2017-01-10 03:52] #171 closed

[2017-01-10 04:02] hemantjadon commented on #128
This is fixed now in PR #162

[2017-01-10 04:02] #128 closed

[2017-01-10 04:29] #192 closed

[2017-01-10 04:37] mariobehling commented on #175
Please take a very slight light grey for the highlights.

[2017-01-10 05:39] uttu357 commented on #176
@mariobehling this issue can be closed now.

[2017-01-10 09:14] #176 closed

[2017-01-10 10:18] adarsh-ideal commented on #158
@hemantjadon What else is needed to be done here?

[2017-01-10 11:07] AbhishekSharma102 commented on #48
@mariobehling hey, i'd like to take this up. Could you please elaborate?

[2017-01-10 13:53] meets2tarun commented on #175
I will do this task

[2017-01-11 01:11] #175 closed

[2017-01-11 01:29] mariobehling opened #196 "Match the width of areas"
In the recent addition of the sidebar the proportions of the areas were changed a bit. Please match the areas to correspond with the Google theme.
* [ ] Make the search results in the same area width as the search results
* [ ] Make the sidebar in the same area and width as on the Google theme

![screenshot from 2017-01-11 02-25-29](https://cloud.githubusercontent.com/assets/1583873/21831667/c8bb8

[2017-01-11 04:11] mariobehling opened #197 "View on twitter does not work"
View on twitter does not send user to twitter.

![screenshot from 2017-01-11 05-10-24](https://cloud.githubusercontent.com/assets/1583873/21835314/5890efa0-d7bc-11e6-8fe5-6aa289d5a973.png)

[2017-01-11 05:05] mariobehling commented on #48
The idea is to get subtabs on the service, same as on twitter for example.

[2017-01-11 07:45] uttu357 commented on #196
Would like to fix this..

[2017-01-11 09:39] uttu357 commented on #67
@hemantjadon Can i work on this along with implementing the design of time and location filter based search?

[2017-01-11 09:40] uttu357 commented on #172
@Bhargavasomu are you working on this?

[2017-01-11 09:51] rishiraj824 commented on #172
@mariobehling we can have a loading bar like Youtube, when the video loads. Thte one below the URL bar. We can choose the loklak's color. Would like to work on it, if it's not assigned.

[2017-01-11 09:56] mariobehling commented on #172
@rishiraj824 Sounds great, but could you help to finalize the sidebar first, please? Currently the sidebar only shows the outcome for the first search. Thank you.

[2017-01-11 09:57] mariobehling opened #200 "Sidebar only shows result of first search and does not show info of following searchs"
Expected behavior: The sidebar is updated on each search.

[2017-01-11 09:57] mariobehling commented on #172
https://github.com/fossasia/loklak_search/issues/200

[2017-01-11 09:58] #197 closed

[2017-01-11 09:58] rishiraj824 commented on #172
Yes will do that. @mariobehling
On Wed, 11 Jan 2017 at 3:26 PM Mario Behling <notifications@github.com>
wrote:

[2017-01-11 10:05] mariobehling commented on #196
Thank you. Please help with a few more small improvements:

* [ ] The width of the tweet content area should be the same as the search bar in all resolutions (please compare to Google)
* [ ] The distance of the content area to the upper gray menu bar should be larger
* [ ] Please reduce the space between blue profile icons and the following info
![screenshot from 2017-01-11 11-01-16](https://cloud

[2017-01-11 10:07] mariobehling opened #201 "Increase space above bottom bar"
The bottom bar is very close to above areas. Please increase the area above the bottom bar on all pages (including search, about, contact etc..)
![screenshot from 2017-01-11 11-06-08](https://cloud.githubusercontent.com/assets/1583873/21844215/14bfb00e-d7ee-11e6-9e65-38970d66463a.png)

[2017-01-11 10:23] uttu357 commented on #201
Duplicate of #69

[2017-01-11 10:49] #201 closed

[2017-01-11 10:50] #69 closed

[2017-01-11 11:00] mariobehling opened #203 "Implement relevant sidebars for search of from:user"
The sidebar displays relevant information for standard searches. For searches of tweets "from:user" the sidebar should display info of the user account. Which relevant info can we get from the loklak APIs? Which sidebars can be implemented? Please propose and implement suitable sidebars showing user account information.

![screenshot from 2017-01-11 11-58-39](https://cloud.githubusercontent.com/as

[2017-01-11 11:04] mariobehling opened #204 "On start page make the background of search limiters light gray"
The background of the search limiters should be very light gray and have the same color across all the relevant words.

![screenshot from 2017-01-11 12-01-26](https://cloud.githubusercontent.com/assets/1583873/21846165/1d6cdd50-d7f6-11e6-8672-d577c930be48.png)

[2017-01-11 11:06] rishiraj824 commented on #204
Would like to go ahead with this.

On Wed, 11 Jan 2017 at 4:34 PM Mario Behling <notifications@github.com>
wrote:

[2017-01-11 12:44] uttu357 commented on #196
Will do them asap. :+1:

[2017-01-11 13:53] uttu357 commented on #203
Would like to work on this.. :)

[2017-01-11 14:43] pranayyelugam commented on #103
Anything more that can be done here ? @mariobehling @hemantjadon

[2017-01-11 17:49] oanarosca commented on #200
I'll try to fix this.

[2017-01-11 21:50] #103 closed

[2017-01-12 03:29] mariobehling opened #206 "Ensure width of areas stays in relation in different resolutions"
Please compare the Google theme. The areas stay in relation in different resolutions. This is not the case the with the loklak theme. Please help to fix this.

![screenshot from 2017-01-12 04-25-10](https://cloud.githubusercontent.com/assets/1583873/21875900/a5193922-d87f-11e6-83ff-d4b71e642ff4.png)

[2017-01-12 03:57] hemantjadon commented on #204
I guess this is fixed now

[2017-01-12 03:57] #204 closed

[2017-01-12 03:59] hemantjadon commented on #67
@uttu357 I have written the structure already and that part is almost complete. I will submit the PR in 1-2 days then we can work on this.

[2017-01-12 04:03] hemantjadon commented on #158
Integration with travis, HTML linter, Testing, correct settings of .yml files relevant for the project and following best practices.

[2017-01-12 08:25] uttu357 commented on #206
Fixing this.. :+1:

[2017-01-12 10:50] uttu357 commented on #67
@hemantjadon sure! :+1:

[2017-01-12 10:58] #206 closed

[2017-01-12 13:49] adarsh-ideal commented on #158
@hemantjadon SCSS linter was not working. I fixed it and its working now.
Also it is throwing a lot of warnings. Should we open an issue to fix them?

[2017-01-12 14:22] AbhishekSharma102 commented on #48
okay, please assign this to me. Thanks

[2017-01-12 18:15] meets2tarun commented on #84
I want to work on this issue .

[2017-01-12 18:16] rishiraj824 commented on #84
@meets2tarun I am already working on this. :)

[2017-01-12 18:31] meets2tarun commented on #84
@rishiraj824  no problem, but since its 16 days to your last comment, I thought to get it closed early.

[2017-01-12 19:30] mariobehling opened #209 "Search results displaying slow"
Even though loklak.org gives out results in a good timeframe results on loklak.net display slowly. Please improve the speed of the site.

[2017-01-12 19:35] mariobehling opened #210 "Display only 20 results on first load"
loklak.org displays 20 results on the first search. This results appears rather fast. Please only display 20 results on loklak search itself as well.

[2017-01-12 20:53] mariobehling commented on #48
@AbhishekSharma102 I have sent you an invite to FOSSASIA. Please join the org. GitHub only allows assignments for members of an org. Cheers.

[2017-01-12 21:38] Achint08 commented on #210
I would like to work on this.

[2017-01-12 22:21] Achint08 commented on #209
Hello @mariobehling Nothing can be done from our side. Data is processed and displayed in microseconds. Problem of time lag is because server takes time to load the result. Only thing  to improve speed  is making fetching faster( done by the server) or request query which is more common.That is not in our hands. Only solution is to reduce search results.

[2017-01-12 22:22] uttu357 commented on #196
This issue can be closed now.

[2017-01-12 22:28] mariobehling commented on #209
@Achint08 I see, that loklak.org offers 20 search results as a standard and it relatively fast. loklak.net get 30 results apparently with two requests. The loklak server has implemented pagination, that we can make use of to get faster results potentially as well, e.g. through a "Search More" button. Telling me "it is on the loklak.org site" is not the solution. Please help to find ways to speed i

[2017-01-12 22:32] mariobehling commented on #209
Check out the search here for example:
first page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=1&maximumRecords=10
second page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=10&maximumRecords=10

Works pretty fast for me here right now.

[2017-01-12 22:36] Achint08 commented on #209
Sorry @mariobehling Indeed it's fast. I meant The data that is fetched. e.g. the profile images takes time for the website. And I didn't knew about pagination thing. :)

[2017-01-12 22:45] mariobehling opened #212 "Implement "Search" and "Search More" using pagination feature and time of tweet"
The pagination feature was implemented in loklak server on Nov. 6 and for query parameters the SRU 2.0 standard was implemented. See loklak/loklak_server@92f8fe3 i.e.:
first page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=1&maximumRecords=10
second page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=11&maximumRecords=10

Please adap

[2017-01-12 22:45] mariobehling commented on #209
@Achint08 Let's follow up here as well: https://github.com/fossasia/loklak_search/issues/212

[2017-01-12 22:49] mariobehling opened #213 "Implement progressive loading for hashtags at the bottom of search pages"
The goal of progressive loading of the hashtags is, that we do not need to load it, if a user never scrolls to this area saving us requests.

[2017-01-12 22:53] mariobehling opened #214 "Implement progressive loading for sidebar information"
The search site currently loads when the whole page has loaded. Please help to increase the speed by implementing progressive loading of the sidebar. In most cases the sidebar will take longer time to load than the main search as it may have a longer processing time. Therefore it can show up slightly later than the main area. This is not an issue for a user as s/he already got some information.

[2017-01-12 23:24] #196 closed

[2017-01-13 01:20] Achint08 commented on #214
I want to go ahead with this.

[2017-01-13 11:07] hemantjadon commented on #214
@mariobehling are you talking about the info-box??

[2017-01-13 11:10] hemantjadon commented on #213
@mariobehling the hashtags are not loaded in the separate request, they are loaded along with the results from the API and is now that much to computationally heavy task. Are we facing some kind of bottlenecks in certain situations??

[2017-01-13 11:24] mariobehling commented on #213
@hemantjadon Yes, you are right. I apparently opened this issue in half-sleep. Closing it. We need to speed up the app. Let's follow up in other issues about this. Cheers.

[2017-01-13 11:24] #213 closed

[2017-01-13 11:30] mariobehling commented on #200
Clicking on the links in the sidebar opens a new window. Please change to "open in the same window".

[2017-01-13 12:57] mariobehling commented on #214
@hemantjadon Yes, the sidebar info box.

[2017-01-13 12:59] #210 closed

[2017-01-13 21:58] mariobehling opened #219 "Avoid hardcoded 404 page"
The 404 pages is hardcoded redirecting to loklak.net. Please implement the 404 page to direct to the current service wherever it is hosted.

[2017-01-13 23:52] #200 closed

[2017-01-13 23:53] mariobehling commented on #172
@Elgayar I think the same icon loading animation that appears on the "search more" area is sufficient.

[2017-01-14 00:00] Elgayar commented on #172
It's fine, this could be something an extra feature to enhance the website's UI.. @mariobehling

[2017-01-14 00:30] Achint08 commented on #219
I would like to work on this.

[2017-01-14 06:13] hemantjadon commented on #219
Hi,
@mariobehling @Achint08

There are three parts of this issue, or I should say three issues related to routing.

* Showing `404 : Not Found` page incase of wrong route loading. Eg. `http://loklak.net/foobar`

* Giving control to Angular router to control routes. (done using 404.html) [I can explain what is importance of this incase of SPA's]

* Lazy Loading of Application segments. Like Home an

[2017-01-14 07:35] Achint08 commented on #219
@hemantjadon Can you please explain a bit more about the lazy loading thing?

[2017-01-14 07:56] rishiraj824 opened #221 "Querying action on clicking the links in the sidebar."
The links in the lists Top Twitterers, Top Hashtags and Top Mentions do not fetch the corresponding results in **http://loklak.net/search?query=** route.

[2017-01-14 08:12] sudheesh001 commented on #219
@hemantjadon sounds good.

[2017-01-14 11:20] hemantjadon commented on #221
I guess this can be closed now. Please reopen if necessary.

[2017-01-14 11:20] #221 closed

[2017-01-14 15:05] mariobehling opened #223 "Ensure clicking on account "name" links to all tweets on loklak search"
Clicking on names of accounts on loklak.net sends the user to the account page on twitter. Expected: The user should click and see all tweets of this users on loklak.net.

![screenshot from 2017-01-14 16-04-04](https://cloud.githubusercontent.com/assets/1583873/21955843/4523c14a-da73-11e6-80f3-6b3a69608160.png)

[2017-01-14 15:19] hemantjadon commented on #223
Using `<a [routerLink]="shard.linkTo" [queryParams]="shard.queryParams">@{{profileName}}</a>`, will fix this.

Someone can take this up :)

[2017-01-14 15:42] kaushikgunda commented on #223
I am willing to do this .

[2017-01-16 03:08] #223 closed

[2017-01-17 09:15] adarsh-ideal commented on #158
@hemantjadon Is this okay now?

[2017-01-17 23:08] Achint08 commented on #219
@hemantjadon how will we define path for 404 page in the route?

[2017-01-20 00:20] mariobehling opened #226 "Improve design and change fonts"
Please improve the design as follows:

* [ ] Change all text to use Roboto font, except the word "loklak" should use Courier New (particularly in the logo section)
* [x] On the start page implement the background and font color of loklak as in this image below (but keep "Search" black and change "Search" to Roboto):
![screenshot from 2017-01-20 01-13-33](https://cloud.githubusercontent.com/assets/

[2017-01-20 04:27] hemantjadon commented on #226
@mariobehling Roboto is not a system font, thus using Roboto will increase the load time.
Google itself uses `arial,sans-serif;` to improve the performance, Roboto and arial are quite similar,
 so in my opinion Arial should be used as the font, to increase the speed of the page.

[2017-01-20 04:28] rishiraj824 commented on #226
@mariobehling I would like to work on these issues.

On Fri, 20 Jan 2017 at 9:57 AM Hemant Jadon <notifications@github.com>
wrote:

[2017-01-20 06:16] yukiisbored commented on #226
@rishiraj824 Sure, just create a PR with a commit that mentions this issue. Thanks!

[2017-01-20 07:51] hemantjadon commented on #226
@yukiisbored @rishiraj824 What do you think about my concern regarding loadtime ?

[2017-01-20 10:43] yukiisbored commented on #226
@hemantjadon Well, Google's Font service has caching enabled and it's pretty fast, but I also think it's a good idea to have a fallback font just in case something fails.

[2017-01-20 13:53] hemantjadon commented on #226
@yukiisbored I know about the caching, and the speed the caching has Etag of 1day (If i remember correctly), And however fast the service is, its still there to be loaded, and indeed this has impact on load time specially on mobile (have faced this). Also I know the Roboto is great general purpose font, but still it is not used by google. Google uses the `Arial`, Reasons being, It is a system font

[2017-01-21 13:19] meets2tarun commented on #67
@hemantjadon  Are you still working on this ?
I think your PR will solve https://github.com/fossasia/loklak_search/issues/43

[2017-01-21 13:46] meets2tarun opened #229 "Implementation of audio search"
The idea is to implement speech search to loklak.net , and then replace search icon on the search bar with audio icon.
We don't need search icon on search bar, since as we enter a query it automatically redirects us to the search results.
Else when the result has been loaded and we change our query, still it loads the result with the new query.
We can even transparent the search icon at that time.

[2017-01-21 13:58] meets2tarun opened #230 "Editing in front-end of the search page"
While hovering the cursor over the search bar on loklak.net we get link select cursor; replace it with text select icon.
![link select](https://cloud.githubusercontent.com/assets/15213246/22174898/1e576fe0-dfea-11e6-8b6f-c4a829aa1d68.png)
![text select](https://cloud.githubusercontent.com/assets/15213246/22174901/2513f7a4-dfea-11e6-9659-ffeaee1b5a53.png)

We even get a text "Please fill in this fi

[2017-01-22 05:59] hemantjadon commented on #230
Will you want to work on this??

[2017-01-22 06:00] hemantjadon commented on #229
Duplicate #28

[2017-01-22 06:00] #229 closed

[2017-01-22 06:01] hemantjadon commented on #67
@meets2tarun yes I am.

[2017-01-22 07:47] meets2tarun commented on #230
Yes

[2017-01-22 08:31] Achint08 opened #231 "Search service crashes on Clicking 'Show more'"
![screen shot 2017-01-22 at 2 00 33 pm](https://cloud.githubusercontent.com/assets/15813932/22181137/2ec2d902-e0ab-11e6-88b0-c2379370cc4f.png)

This error is making Search service to crash. Reason for this is that sometimes apiresponseaggregations is returned as null  on Clicking on "Show more" for new feeds and statistics in info-box is set to undefined which gives an error.

[2017-01-22 12:51] Achint08 opened #233 "Pagination State"
For some query ,Suppose there is no new tweets available  on clicking "Show more" , "Show more" button (pagination feature) won't be available for rest of the new queries.

[2017-01-22 13:30] yasirunilan commented on #172
can I work on this if anyone is not working on it?

[2017-01-22 14:28] yasirunilan commented on #188
For this do we have to configure the loklak server also?
Or is it just a front end work?

[2017-01-22 15:04] rishiraj824 commented on #188
@yasirunilan I think the response we are receiving right now is sufficient to plot the histogram.

[2017-01-22 15:06] rishiraj824 commented on #226
Is this issue yet to be solved?

[2017-01-22 15:40] yasirunilan commented on #188
can I work on this one if any one is not assigned?

[2017-01-23 21:19] Achint08 commented on #212
Hello @mariobehling can you explain me about the timezoneoffset ?

[2017-01-24 06:29] yasirunilan commented on #46
Can I work on this ?

[2017-01-24 06:32] rishiraj824 commented on #203
@uttu357 Are you still working on this? I would like to help.

[2017-01-24 13:23] Achint08 commented on #219
Hello everyone.This PR must be closed. #225 Fixes this.

[2017-01-24 13:23] #219 closed

[2017-01-24 13:23] jig08 commented on #219
@Achint08 Thanks.

[2017-01-24 19:14] Achint08 commented on #209
Hello @mariobehling @hemantjadon
This question created a curiosity in me about how google images works so fast since the problem with our website working slow is that we are retrieving so many images at once and that too of large size.
So what can we do is that we can load images depending on the scroll position of our page...
I mean
Suppose you searched for some image, the google will instead pre

[2017-01-24 19:23] Achint08 commented on #209
One more thing I came to know that is info-box is making our website slow because
The request for images in info box are like https://avatars.io/twitter/TitouTitoufoot. These are giving bigger images
![screen shot 2017-01-25 at 12 50 53 am](https://cloud.githubusercontent.com/assets/15813932/22262859/814af170-e298-11e6-81f7-88ad0b40d937.png)

And in feed-cards we are using https://pbs.twimg.com/pr

[2017-01-25 10:24] mariobehling opened #239 "Use small image for small thumb nails"
Follow up to: https://github.com/fossasia/loklak_search/issues/209#issuecomment-274908860

Our info-box is making our website slow because
The request for images in info box are like https://avatars.io/twitter/TitouTitoufoot. We are getting bigger images now
![screen shot 2017-01-25 at 12 50 53 am](https://cloud.githubusercontent.com/assets/15813932/22262859/814af170-e298-11e6-81f7-88ad0b40d937.pn

[2017-01-25 10:27] mariobehling opened #240 "Load only images required for the current user view"
Follow up to: https://github.com/fossasia/loklak_search/issues/209#issuecomment-274905541

Suppose you searched for some image, most search providers will instead prefer to retrieve four/five images only at start but as the user scrolls down it will load images at that instant only.

[2017-01-25 10:28] mariobehling commented on #209
@Achint08 Excellent ideas! Best is to open dedicated issues in future as well. I did that already and assigned you. Would be great if you could help to solve this. Cheers!

[2017-01-25 11:16] mariobehling commented on #203
@uttu357 Thanks for your interest, but I am unassigning you due to inactivity.

@rishiraj824 Feel free to take it up and make a PR.

[2017-01-25 11:24] mariobehling commented on #46
@yasirunilan Sure, go ahead after you solve the other issues you claimed. But lets also understand our best practices: Please only claim one issue at a time. Thank you.

[2017-01-25 12:25] yasirunilan commented on #46
Sure, For the moment I will not be working on this. in the other issues

[2017-01-25 17:19] uttu357 commented on #203
@mariobehling I am sorry for the delay... I have a PR in works and will file it soon..

[2017-01-25 17:24] uttu357 commented on #203
I am using the /api/user.json to retrieve data about the user if the search is a 'from:' type

[2017-01-25 17:51] rishiraj824 commented on #203
Hey @uttu357, let me know if I can help you in any way.

[2017-01-25 17:58] uttu357 commented on #203
@rishiraj824 sure.. :+1:

[2017-01-25 18:12] GingerDragon7 opened #241 "Adding search by voice in the search bar of loklak.net"
Including a search by voice in the search bar of loklak.net would be handy and more convenient for the users.

![images](https://cloud.githubusercontent.com/assets/17198965/22303112/ca4d7bda-e357-11e6-9f26-eb302f59493e.png)
  ![screenshot 358](https://cloud.githubusercontent.com/assets/17198965/22303010/617fd7ce-e357-11e6-8530-91ffae3a4deb.png)

[2017-01-25 18:32] #241 closed

[2017-01-25 18:33] GingerDragon7 commented on #241
This has already been marked as a issue,didn't saw that!!!

[2017-01-25 20:14] Achint08 commented on #188
@rishiraj824 Hello. I was looking towards this tweet frequency chart . I found this somewhere. I thought it would help you somewhere.
https://www.angularjs4u.com/angularjs2/top-20-angular-2-charts-graphs/
You should also checkout this :-
https://scotch.io/tutorials/interactive-angular-2-charts-with-zingchart .
:)

[2017-01-25 20:19] rishiraj824 commented on #188
@Achint08 I've added ng2-charts/chart.js in the side-bar. I'll put a PR. Please have a look at the code. It needs to be hooked up with the backend data.

[2017-01-27 09:59] #240 closed

[2017-01-27 10:03] rishiraj824 commented on #226
@mariobehling I am adding a PR with the rest of the changes.

[2017-01-27 11:55] #239 closed

[2017-01-27 12:53] #226 closed

[2017-01-27 14:39] #203 closed

[2017-01-27 14:45] mariobehling opened #245 "Show top followers and top followings in search from:user"
The loklak API enables to get data of followers and following. Please implement this in the sidebar when performing searches "from:user". The goal is to get additional widgets below the existing widget of the top followers and the top following users.

Compare:

http://loklak.org/api.html#user

This servlet provides the retrieval of user followers and the accounts which the user is following. Just

[2017-01-27 14:47] uttu357 commented on #245
Would like to work on this :)

[2017-01-28 09:39] Jatinbalodhi96 commented on #172
Have someone started to work on this issue?

[2017-01-28 09:43] yasirunilan commented on #172
@Jatinbalodhi96 yes I'm working on this.

[2017-01-28 09:47] Jatinbalodhi96 commented on #172
thats great @yasirunilan just wanted to know

[2017-01-28 20:07] Achint08 commented on #29
@mariobehling I want to work on this. Can I ?

[2017-01-28 20:08] Achint08 commented on #189
@mariobehling I was working on this but There is an issue regarding openlayers for angular2 going on right now. I will wait till the issue gets resolved.

[2017-01-28 20:46] djmgit opened #247 "Reduce space taken by footer in mobile version"
Presently "Apps" , "Code" and  "Terms" ,"Contact" take up new lines in the mobile version. So the entire footer takes up 3 lines with empty spaces in the last two lines. Also the last line ("Terms" ,"Contact") is shifted right and not left-aligned as the previous two lines.

[2017-01-28 20:56] rishiraj824 opened #248 "Make InfoBox responsive for phones."
The InfoBox which one gets while searching using a from:username isn't responsive.
![img_7372](https://cloud.githubusercontent.com/assets/11540785/22399747/22a50f54-e5ca-11e6-95ba-b90f00e447fa.PNG)

[2017-01-28 22:24] uttu357 commented on #248
Will fix this asap.. :)

[2017-01-29 02:46] #172 closed

[2017-02-01 13:28] meets2tarun commented on #248
@rishiraj824 Infobox is also not responsive on pc.
What here mean by responsive ?

[2017-02-01 13:39] rishiraj824 commented on #248
@meets2tarun The width of the InfoBox should take the whole width of the viewport when on phones. Right now it's aligned to the left.

[2017-02-01 13:53] meets2tarun commented on #248
@rishiraj824 don't you think the info box must be at the top followed by the result ?

[2017-02-01 13:57] uttu357 commented on #248
![wp_ss_20170129_0002](https://cloud.githubusercontent.com/assets/15570642/22509482/333e05f4-e8b4-11e6-806b-1041a96a49f9.png)
@rishiraj824 I am unable to reproduce the issue on my phone. Can you specify the resolution for which you are facing the problem. Thanks.

[2017-02-01 13:59] meets2tarun opened #251 "Enabling pc view on phone"
The task is to create a link down there on the page loklak.net as
View loklak in Mobile | Deskop
and whichever is active will have bold black colour and the other one will acts as a link in blue colour.

[2017-02-01 14:00] rishiraj824 commented on #248
@meets2tarun Yes that would be really good. Feel free to put a PR.

[2017-02-01 14:01] meets2tarun commented on #248
@uttu357  i can see the problem on phone having resolution 1920 X 1080.
Whats your phone resolution ?

[2017-02-01 14:10] uttu357 commented on #248
@meets2tarun Thanks I will see and work on the issue on a phone with a full hd resolution. :+1: Between file a new issue for the info-box being in the top and submit a PR.

[2017-02-01 14:18] meets2tarun opened #252 "Info box on top on phone"
The task is to display info-box at the top when [idea](https://github.com/fossasia/loklak_search/issues/248) is searched followed by the result.

[2017-02-01 14:18] meets2tarun commented on #248
@uttu357  sure

[2017-02-01 14:37] meets2tarun commented on #230
I am searching for the code in src/app/home
but can't find out .
Please show me a correct way .

[2017-02-01 14:38] uttu357 commented on #248
@rishiraj824 Thanks for your help. The issue could be reproduced when description was missing. Also see #253

[2017-02-01 15:03] Achint08 commented on #248
Hey everyone. Go ahead and  Test with http://mobiletest.me/ to check for every type of resolutions.

[2017-02-01 18:29] Achint08 commented on #251
@meets2tarun  Desktop version on mobile will be useful only if some of the features are not available in mobile version. We can focus instead on mobile version and make all features available on it.
@mariobehling @hemantjadon  Any suggestion?

[2017-02-02 13:31] meets2tarun commented on #251
@Achint08 Those phones so called phablet, need a Desktop view and normal 4.7-5.2 inch phones while using in landscape mode, then a Desktop view matters.
And no doubt, we can even go for making features available for mobile version too.

[2017-02-02 14:34] meets2tarun commented on #248
@Achint08 Would you please tell to how to make emulator enable to load unsafe script ?

[2017-02-02 16:56] Achint08 commented on #248
@meets2tarun Just the same way.
Enable load scripts from the shield on right side of the search bar (Google chrome)
And
Disable protection on the left side  (firefox).

[2017-02-02 17:00] meets2tarun commented on #248
@Achint08 In the emulator present on mobiletest.me ; it just ask for the URL to display and there is no option to load unsafe script.

[2017-02-02 17:06] Achint08 commented on #248
![screen shot 2017-02-02 at 10 35 10 pm](https://cloud.githubusercontent.com/assets/15813932/22559690/efd6db8a-e997-11e6-9095-f77ad54362f0.png)

[2017-02-02 18:09] meets2tarun commented on #248
Would you please tell how to load unsafe script in chrome Android

[2017-02-03 09:51] Achint08 commented on #152
This issue can be closed now. via #162

[2017-02-03 10:42] #152 closed

[2017-02-03 10:48] #247 closed

[2017-02-03 10:50] mariobehling opened #254 "New searches not always executed"
If the user has performed one search and tries other searches, the searches are not always performed and the page with the new search does not load.

![screenshot from 2017-02-03 11-47-49](https://cloud.githubusercontent.com/assets/1583873/22588613/e84922e6-ea06-11e6-8dec-2d2d82ff29bf.png)

[2017-02-03 11:30] Achint08 commented on #254
I know about this.
The reason for this is that we were not getting any response from the server for api/user   of your id and some variable is going undefined and search service crashes. The response from server in the image below depicts that.

![screen shot 2017-02-03 at 4 54 50 pm](https://cloud.githubusercontent.com/assets/15813932/22589708/a4a9f9f4-ea31-11e6-9ac5-800c2be97b21.png)

You can ch

[2017-02-03 15:27] rishiraj824 commented on #252
@meets2tarun I'll implement this.

[2017-02-03 15:49] uttu357 commented on #29
This issue can be closed after #250

[2017-02-03 15:54] #29 closed

[2017-02-03 15:57] #248 closed

[2017-02-03 16:09] mariobehling opened #256 "Implement a search page for account followers and following"
The from:account search already offers a sidebar showing the top followers and following. Please implement a page doing the same.

Define a search pattern that needs to be entered into the search bar to find followers of a certain account. What would be the most appropriate?

[2017-02-03 16:15] rishiraj824 commented on #247
Please check this once again @djmgit. I can still see 3 lines for the footer links.
![img_7493](https://cloud.githubusercontent.com/assets/11540785/22598631/17f1ef20-ea5a-11e6-9864-9e654f50da5b.PNG)

[2017-02-03 16:22] rishiraj824 opened #257 "Header Design and Suggestion Feature Fixes"
- [ ]  The suggestion doesn't render content in other languages.

![img_7496](https://cloud.githubusercontent.com/assets/11540785/22598572/eae296ec-ea59-11e6-831c-ee6e14e7e4ac.PNG)

- [ ]  The view of the suggestion feature isn't responsive, which can easily follow the view like on Google.
**Current**

![img_7495](https://cloud.githubusercontent.com/assets/11540785/22598472/9e8b00c2-ea59-11e6-81ac

[2017-02-03 16:28] rishiraj824 commented on #256
We can filter queries with Followers of '@username'  to get the followers of that user and display them in that page. In that case the feed section would be replaced by the content of this page.

@mariobehling I can give it a shot :)

[2017-02-03 17:07] uttu357 commented on #256
@mariobehling It can be done using a search pattern such followers:{screen_name}

[2017-02-03 17:48] uttu357 commented on #92
@mariobehling This issue can be closed now.

[2017-02-03 17:50] uttu357 commented on #33
@mariobehling Would like to work on this. Can you provide some information regarding the issue. :)

[2017-02-04 04:58] #257 closed

[2017-02-04 05:28] rishiraj824 commented on #230
@mariobehling This issue can be closed now via #258

[2017-02-04 09:14] uttu357 commented on #256
@mariobehling What all information about the followers and following must be shown on the page?

[2017-02-04 10:19] mariobehling commented on #256
@uttu357 Please start with
* the same info/picture you see on followers pages at Twitter
* ensure the links on the pages work inside loklak
* show number of follower and following
* sort the followers by their own followers count.

[2017-02-04 10:25] #230 closed

[2017-02-04 10:33] uttu357 commented on #256
Sure will start working on it.. :)

[2017-02-04 11:18] #245 closed

[2017-02-04 11:20] mariobehling commented on #33
Currently api.loklak.org provides the option to get an RSS feed. We just want to reroute this feed through the service we provide here.

![screenshot from 2017-02-04 12-19-27](https://cloud.githubusercontent.com/assets/1583873/22618077/448d4e38-ead4-11e6-8127-2c732ae40ef3.png)

[2017-02-04 11:22] #233 closed

[2017-02-04 11:24] mariobehling opened #260 "Add a tweets frequency widget in sidebars for searches"
Showing the tweet frequency is a useful information. Please add this widget to the sidebar.

![screenshot from 2016-11-03 11 39 30](https://cloud.githubusercontent.com/assets/1583873/19955292/da6bd626-a1ba-11e6-8b7d-8e6b8a0ca564.png)

[2017-02-04 11:25] #92 closed

[2017-02-04 11:26] rishiraj824 commented on #260
I am willing to work on this feature. Please assign me this.

[2017-02-04 15:03] Achint08 commented on #251
@meets2tarun in that case , go ahead (Y)

[2017-02-05 10:12] hemantjadon opened #262 "Out of date dependencies."
Angular and cli have upgraded a lot in past month and I think its right time to upgrade the dependencies. Specially the Angular 2.4 version has a lot if improvements in Component creation and improvement in CLI is useful for generation.

[2017-02-05 10:21] hemantjadon commented on #189
@Achint08 Can you tell what are you actually trying to implement and the issue regarding the openlayers?

[2017-02-05 12:46] meets2tarun commented on #230
There is one task still left of editing of "Please fill in this field." , replace it with "Search here" or "Search" .

[2017-02-05 12:51] Achint08 commented on #189
@hemantjadon I am trying to implement it on google map now and all the locations will be highlighted like this

![screen shot 2017-02-05 at 6 19 23 pm](https://cloud.githubusercontent.com/assets/15813932/22626269/af4c90d4-ebcf-11e6-840a-9626ce44fa92.png)

Open layers for angular have lots of issues going on so I am not using that.
Any suggestions?

[2017-02-05 12:53] meets2tarun commented on #248
![screenshot from 2017-02-05 23 51 46](https://cloud.githubusercontent.com/assets/15213246/22626293/248d5db0-ebd0-11e6-9fe1-ef9c26b76bec.png)
@Achint08  It can't be in chrome ...

[2017-02-05 21:55] Achint08 commented on #46
@mariobehling Can I work on this?

[2017-02-07 12:32] Achint08 opened #263 "Home Page not scrolling."
We can't scroll the Home page in landscape mode due to which logo is not shown properly.

![screen shot 2017-02-07 at 5 58 28 pm](https://cloud.githubusercontent.com/assets/15813932/22691189/379598a6-ed5f-11e6-8e41-c7954ad450d3.png)

[2017-02-07 13:59] mariobehling opened #264 "Linking to Search Results does not show results"
If a user links to a search page, the search words are not shown in the search field and no results are displayed.

![screenshot from 2017-02-07 14-58-05](https://cloud.githubusercontent.com/assets/1583873/22694055/fb87021e-ed45-11e6-8546-dcf1f92b05ad.png)

[2017-02-07 14:06] meets2tarun commented on #263
I would like to work on this

[2017-02-07 14:53] Achint08 commented on #263
Go ahead @meets2tarun

[2017-02-07 14:54] Achint08 commented on #264
I can work on this.

[2017-02-07 18:50] #264 closed

[2017-02-09 22:16] mariobehling opened #266 ""Open in Twitter" opens two new tabs"
The View on Twitter button opens two new tabs. Expected: Should open one tab only.

![screenshot from 2017-02-09 23-15-14](https://cloud.githubusercontent.com/assets/1583873/22805434/c13845b2-ef1d-11e6-86a7-5076eb0f8e4e.png)

[2017-02-09 22:25] mariobehling opened #267 "A number of searches do not display search results even though server provides results"
I checked the result of from:MartinSchulz. If the user clicks on an @someaccount link on the search results, he/she will quickly discover a number of results that do not show up. Tests on http://api.loklak.org show results though.

![screenshot from 2017-02-09 23-22-15](https://cloud.githubusercontent.com/assets/1583873/22805681/fc2515b4-ef1e-11e6-854b-fb5840adf321.png)

[2017-02-10 06:15] Achint08 commented on #266
Lightbox needs to be worked upon. This is one of the issues going on with lightbox. Otherwise , the UI/UX and design needs to be changed.

[2017-02-10 08:11] uttu357 commented on #267
The bug is this :
   `from:realDonaldTrump` does not return any results, but `from:realdonaldtrump` returns the tweets.

![screenshot from 2017-02-10 13 34 53](https://cloud.githubusercontent.com/assets/15570642/22818977/ee87d0dc-ef95-11e6-920b-c4db82997509.png)
![screenshot from 2017-02-10 13 34 43](https://cloud.githubusercontent.com/assets/15570642/22818980/f1921abc-ef95-11e6-9c01-ac448eb37237.

[2017-02-10 08:15] uttu357 commented on #260
Duplicate of #188

[2017-02-10 08:36] Achint08 commented on #267
@uttu357 If you change the source from cache to twitter/all in the request api, even `from:MartinSchulz` will return the result.
We should look forward to source parameter of the api to solve the issue

When source is set to cache

![screen shot 2017-02-10 at 2 03 58 pm](https://cloud.githubusercontent.com/assets/15813932/22819820/e739f298-ef99-11e6-8617-e5e77bcc19c1.png)

When source is set to al

[2017-02-10 18:02] #260 closed

[2017-02-10 18:43] hemantjadon commented on #267
I changed it to `all` at some point previously, but it was changed again to `cache` change it back to `all` and the issue will be fixed. 👍
@Achint08 @uttu357

[2017-02-11 08:24] #267 closed

[2017-02-11 10:47] Achint08 opened #270 "Make API request for aggregations."
Currently , we are retrieving data including search results aggregations from all source. To receive aggregations, the data must be retrieved from source being cache. Make a separate request for API aggregations and adjust info-box parameters such that no variable goes undefined.

[2017-02-11 11:08] rishiraj824 commented on #270
@Achint08 To display the search results on the infobox, I had used the `source=cache`. And yes you are correct that we need to use another query url having `source=all` to get the statuses separately since it is not giving us the Aggregations (Top Twitterers, Mentions, etc.)

[2017-02-11 11:44] Achint08 commented on #270
@rishiraj824 Will fix this asap. :)

[2017-02-11 12:21] mariobehling commented on #188
Thanks. Next steps in this issue:

* [ ] please change the color from pink to gray which is used in the top bar.
* [ ] also ensure the table fits in the box. At the moment there is no padding on the right hand side. Thank you.

[2017-02-11 12:25] mariobehling opened #271 "Sidebar not working anymore"
Please see in screenshot.

![screenshot from 2017-02-11 13-17-52](https://cloud.githubusercontent.com/assets/1583873/22853698/88166552-f05d-11e6-83a1-777dd2a25ca6.png)

[2017-02-11 12:27] rishiraj824 commented on #188
@mariobehling I'll work on this and fix them asap.

[2017-02-11 12:28] mariobehling opened #272 ""Show more" not displaying more results"
There have been a number of issues about "Show More" results, that have always been marked as fixed and pull requests have been merged. I have not seen this feature working for a long time though.

Expected: User clicks on "Show More" and the result page actually shows more.

[2017-02-11 12:29] mariobehling commented on #231
Ok, not sure, what has been fixed here exactly. A fix would mean that is works I think. It is still not working for me. I have opened another issue here https://github.com/fossasia/loklak_search/issues/272 again.

[2017-02-11 12:29] rishiraj824 commented on #271
This issue will be fixed by #270.

[2017-02-11 12:33] mariobehling opened #273 "Search bar on start page with gray background on Firefox"
The search bar on Firefox looks different to Chrome. Please implement it in a white background as well.

![screenshot from 2017-02-11 13-32-44](https://cloud.githubusercontent.com/assets/1583873/22853757/b95c682c-f05e-11e6-98c8-1569a86ad90a.png)

[2017-02-11 12:35] rishiraj824 commented on #273
Will fix this bug. @mariobehling

[2017-02-11 12:35] mariobehling commented on #254
This issue still persists in the current page.

![screenshot from 2017-02-11 13-31-15](https://cloud.githubusercontent.com/assets/1583873/22853769/ff635eca-f05e-11e6-9103-118a57a5b2fd.png)

[2017-02-11 12:49] Achint08 commented on #254
@mariobehling app is crashing due to a minor issue regarding the source of the api. All the reopened will be fixed soon. :)

[2017-02-11 14:20] #270 closed

[2017-02-11 14:23] Achint08 commented on #272
Can be closed now.

[2017-02-11 15:38] mariobehling commented on #272
Not working for me. Please provide a link to a search where it works.

[2017-02-11 15:43] Achint08 commented on #272
@mariobehling Did you check it out on my gh-pages or loklak.net ?

[2017-02-11 19:17] mariobehling commented on #272
Both on loklak.net and https://achint08.github.io/loklak_search/search?query=fossasia - If I click on "Show More" there are no additional results displayed.

![screenshot from 2017-02-11 20-17-18](https://cloud.githubusercontent.com/assets/1583873/22856696/1e0d4a24-f097-11e6-902c-23f6c3ecff64.png)

[2017-02-12 10:41] hemantjadon commented on #271
I guess its working again now 👍  and this can be closed

[2017-02-12 11:30] mariobehling commented on #271
@hemantjadon Not working for me on loklak.net. Bottom bar moved to the right now on Chrome.

![screenshot from 2017-02-12 12-29-39](https://cloud.githubusercontent.com/assets/1583873/22861667/fbb83456-f11e-11e6-81f0-fc555290049b.png)

[2017-02-12 13:47] mariobehling opened #276 "Before search results are displayed the page "There are no results available" is shown shortly"
On a number of searches, I see, that before search results are displayed the page "There are no results available" is shown shortly. Next the results are displayed.

Expected: There should not be a message "no search results available". Instead it should just display the loading icon.

[2017-02-13 03:26] #266 closed

[2017-02-14 17:42] meets2tarun commented on #273
I can't see the problem.
![screenshot from 2017-02-14 23-11-12](https://cloud.githubusercontent.com/assets/15213246/22941291/f1014672-f30a-11e6-8bbe-decc7f5229c0.png)

[2017-02-18 05:37] #271 closed

[2017-02-18 05:41] hemantjadon commented on #273
@mariobehling Not able to reproduce this, can you please give the firfox and OS version?

[2017-02-18 06:17] mariobehling commented on #273
Firefox 50.0.2 on Linux Mint

![screenshot from 2017-02-18 14-17-07](https://cloud.githubusercontent.com/assets/1583873/23090936/9fca6eda-f5dc-11e6-81a4-a20f43bbaf05.png)

[2017-03-01 15:20] #256 closed

[2017-03-02 21:32] Achint08 commented on #276
I would like to work on this. :)

[2017-03-04 09:56] hemantjadon commented on #276
Just correct handling of `*ngIf` statement.

[2017-03-06 01:16] #273 closed

[2017-03-11 10:18] mariobehling opened #282 "Create a screencast showing the main features of the loklak apps"
Show the loklak project, its components and features in a 3 minute screencast. Include:
1. loklak.org and show the JSON output and highlight sentiment analysis row and Geolocation row and after that the Github repo start page
2. loklak.net and show different searches including the right sidebar widgets and after that the Github Repo start page
3. apps.loklak.org and some cool features of apps (wha

[2017-03-12 02:20] #263 closed

[2017-03-12 02:37] mariobehling opened #284 "Website not displaying - Dependency issue?"
The website is not displaying. Please find the reason. Also check dependencies. Some are out of date. Compare: https://gemnasium.com/github.com/fossasia/loklak_search

[2017-03-12 08:20] hemantjadon commented on #284
Hi all,
Was going through this issue. Not sure what's happening as I am not near my laptop.
Can someone show me the console when the site is not loading @uttu357
Dependencies are out of date but I guess it should not be an issue. Build seems fine.

[2017-03-12 08:27] rishiraj824 commented on #284
Sure @hemantjadon.
 Here you go. It shows ZoneAwareError
![capsxture](https://cloud.githubusercontent.com/assets/11540785/23830220/a65f0e9e-072b-11e7-8824-98e74a0d523d.PNG)

I think what is mentioned in this link is due to the dependency issue of zone.js

[2017-03-12 10:23] #262 closed

[2017-03-12 10:50] mariobehling opened #286 "Public Schedule: Tracks Page: Very large PNGs are displayed for speaker images"
The tracks page loads very large speaker images. We will have lots of users at the weekend and this might crash us.

Please use smaller jpgs here (Tracks Page): https://eventyay.com/e/45da88b7/schedule/

[2017-03-12 10:51] uttu357 commented on #286
@mariobehling Wrong repository! :D :)

[2017-03-12 10:52] uttu357 commented on #284
@mariobehling Fixed site is back up! :)

[2017-03-12 10:55] #286 closed

[2017-03-12 11:07] mariobehling commented on #284
good job!

[2017-03-12 11:08] mariobehling commented on #284
So, please check if anyone would like to do a screencast: https://github.com/fossasia/loklak_search/issues/282

[2017-03-12 11:08] #284 closed

[2017-03-13 11:11] djmgit commented on #282
@mariobehling I would like to work on this :)

[2017-03-13 11:15] mariobehling commented on #282
Please go ahead. There is no need to wait for my ok :-)

Try the highest possible resolution, please.

[2017-03-14 04:59] mariobehling opened #287 "Queries getting"
For my first query I get "No results found" quite often. The second query then gives me the results.

Please ensure the first query is not failing.

![screenshot from 2017-03-14 12-58-12](https://cloud.githubusercontent.com/assets/1583873/23886459/08b97e4a-08b6-11e7-846b-4a9ea9a6b7e9.png)

[2017-03-14 06:05] uttu357 commented on #287
The queries are failing because we are sending multiple requests to fetch data separately for the widgets and the main tweets.. This results in `503: Request frequency is too high`.
Solving this would require either delaying the second request by some time or sending only one request to fetch the data which was the case previously!
Using only one request has further issues as was pointed out by #2

[2017-03-14 13:17] hemantjadon commented on #287
Request once sent cannot be cancelled (HTTP request) these are not handled, `switchMap` operator. delaying the second request maybe an option, we need to think about it a simple `delay` operator maybe used. But by how much needs to be thought of, as there will be partially unstyled content.

[2017-03-14 17:20] djmgit commented on #282
@mariobehling I have made a screencast, I have uploaded it in a separate repo : https://github.com/djmgit/screencast_video

[2017-03-14 18:10] mariobehling commented on #282
@djmgit Looks good. Please shorten it a bit and cut it off at 2:36. Thank you.

[2017-03-15 01:29] mariobehling commented on #287
Delaying is a bad idea. We need to set up a way using keys. So, we allow unlimited access for verified services to the loklak API. All others get limited access. Otherwise they crash our service.

[2017-03-15 02:58] djmgit commented on #282
@mariobehling okay :)

[2017-03-15 03:03] mariobehling commented on #282
Another thought: Is it possible to only capture the browser window itself without the browser itself? Only the actual websites?

[2017-03-15 18:53] djmgit commented on #282
@mariobehling Please check this  https://github.com/djmgit/screencast_video
I have shortened the video to around 2:36 and shown only the browser window and not the entire browser

[2017-03-15 19:08] mariobehling commented on #282
Ok, I see my mistake. Now we dont see the URL anymore and people dont know where they can click. The reason why I was asking to not show the browser is, because the style was not standard and a bit distracting. Maybe we could just have the address bar or a simple browser. Sorry for asking so many changes.

Also, at the end of the video, could you just show for 5 seconds the loklak.org start screen

[2017-03-15 23:44] djmgit commented on #282
@mariobehling So should I include the address bar?

[2017-03-16 01:17] mariobehling commented on #282
@mariobehling So should I include the address bar?

yes, please. If possible with a standard browser UI.

[2017-03-16 07:06] djmgit commented on #282
@mariobehling cool! I am on it.
Meanwhile could please look into these queries when you get time?
https://github.com/fossasia/labs.fossasia.org/issues/195

[2017-03-16 07:56] hemantjadon commented on #287
@mariobehling Which type of keys are you talking about??

[2017-03-16 08:41] hemantjadon opened #288 "Inclulde Angular Material and theming in the project"
* Add @angular/material2 to the project and set up theming

[2017-03-17 05:00] djmgit commented on #282
@mariobehling I included the address bar and used a standard browser UI
https://github.com/djmgit/screencast_video

[2017-03-17 16:13] hemantjadon commented on #251
@Achint08 @meets2tarun I don't think the special button is required in our use case, as our application as of now is not that complex, and all our features are visible to all our users. And what we should focus on is making site more mobile responsive. Rather than having such button.

Moreover mobile browsers (I know Chrome for Android) enable us already to switch to the desktop version by itself.

[2017-03-17 17:58] meets2tarun commented on #251
@hemantjadon Sir,  I totally agree with your opinion but what my point of view is: yeah, we don't require this feature right now but we too don't have any harm getting it and surely tomorrow this feature can help us.

[2017-03-18 06:50] yukiisbored commented on #251
There's no need to do this. Because currently this project is responsive as in "one web page for all screens". If you want to view it as if you're on your PC, just use "Request Desktop site" feature from your web browser to lie it's resolution.

[2017-03-19 18:58] vimarshc opened #291 "ng serve giving: "You have to be inside an angular-cli project in order to use the serve command.""
The documentation is a little confusing for me.

First I installed angular-cli, which gave the the following message:
[code]

After this I cloned the repository, I did cd into loklak_search and ran
`npm install.
`
After which I tried running

`
$ ng serve
`

which gave me the following error:
`
You have to be inside an angular-cli project in order to use the serve command.
`

But there is a .angul

[2017-03-19 19:15] uttu357 commented on #291
Sorry for the problem! The dependencies were recently updated and I forgot to update the line in the readme. Yes you have to install @angular/cli. I'll update the README asap.

[2017-03-19 20:03] vimarshc commented on #291
The "Installation" and "How to Deploy" seem a little confusing to me, may I submit a pull-request with an updated README?

[2017-03-20 03:05] uttu357 commented on #291
@vimarshc I have already changed it to @angular/cli in #292 as i stated before but if you think there is some other problem to submit a PR! :)

[2017-03-20 09:26] rishiraj824 opened #293 "Have single requests for Search and Aggregations"
Now that using `source=all` parameter in the query gives us the aggregations, we can have one single reducer and only one query request for getting both the aggregations and the tweets.

[http://api.loklak.org/api/search.json?q=fossasia&source=all](http://api.loklak.org/api/search.json?q=fossasia&source=all)

[2017-03-20 09:45] Achint08 commented on #287
@mariobehling @hemantjadon @uttu357 Sorry. I was involved for my mid sem examinations and then for the visa application. #293 will solve the issue now. Problem initially was that we were sending two request at a time moreover aggregations are I/O expensive so to avoid trafficking we recieved Error 503.  After solving #293, this issue might be solved.

[2017-03-20 12:47] uttu357 commented on #293
Yeah this would be reduce the no. of requests and will also solve issue #287. What do you think @hemantjadon @mariobehling ?

[2017-03-20 14:29] uttu357 commented on #46
@mariobehling Can you elaborate more on this? The json file should be created manually? If no then how should we find a way to scrape the news organizations twitter account from somewhere? I think that we need to find a way to regularly update and find news organizations twitter accounts.. any suggestions? @hemantjadon?

[2017-03-20 14:32] uttu357 commented on #67
@hemantjadon Are you currently doing this?

[2017-03-20 18:02] hemantjadon commented on #293
@uttu357  this was implemented earlier but was not successful as many times aggregations object was not returned from the server or something like that. @Achint08  can you tell the exact reason.

[2017-03-20 18:04] #291 closed

[2017-03-20 19:36] Achint08 commented on #293
@hemantjadon Hello Me and @rishiraj824 met @Orbiter at the Summit. We requested him to implement it this way so he did. :)

[2017-03-20 19:59] Achint08 opened #294 "Sub tabs for images and videos"
Suppose you want to have tweets with images we can search for `Search query /image`.
For example, if we want to search for tweets with images for search query 'barca' , we can instead search for 'barca /image'.

For search query with only images
![screen shot 2017-03-21 at 1 28 13 am](https://cloud.githubusercontent.com/assets/15813932/24118986/b62e9320-0dd5-11e7-9b94-93e88b0911b7.png)

For search

[2017-03-20 20:07] hemantjadon commented on #294
@Achint08 refer to https://github.com/fossasia/loklak_search/issues/3#issuecomment-254788901
Coz I was stuck here. before implementing the image search we need to fetch the images and display them. I guess this is duplicate of #3, but as it is still unresolved I don't know how to proceed.

[2017-03-20 20:22] Achint08 commented on #294
@hemantjadon We can implement video thing even now.
Rest about images, it needs to be resolved from server side only. This will be resolved soon. I am creating an issue there. :)

[2017-03-21 10:07] Achint08 opened #296 "Show more is still displayed after showing all of the followers."
Show more is expected to hide after all the followers are displayed. But it is still displayed.

[2017-03-21 10:14] daminisatya commented on #296
Provide a screenshot

[2017-03-21 10:19] Achint08 commented on #296
This is the [link](http://loklak.net/search?query=followers:Achintsharma08) if you search for my followers on loklak search because we don't have to scroll much in that case(coz I don't have many).
After all followers are displayed , Show more is still displayed.

[2017-03-21 10:23] Achint08 opened #297 "Followers SEARCH not working properly"
Sometimes , We are receiving data from the server side for `followers:user` but still it is not displayed.
Data from the server
![screen shot 2017-03-21 at 3 43 00 pm](https://cloud.githubusercontent.com/assets/15813932/24142969/3327e426-0e4e-11e7-8086-bef63f3486b3.png) .

Results not being displayed
![screen shot 2017-03-21 at 3 43 22 pm](https://cloud.githubusercontent.com/assets/15813932/241429

[2017-03-21 11:16] uttu357 commented on #297
Can you show an example when this happens? I am unable to recreate the issue!

[2017-03-21 11:19] Achint08 commented on #297
Hey @uttu357 . I came across this when I searched for `followers:mariobehling` 2-3 times.

[2017-03-21 11:25] uttu357 commented on #297
Thanks! I will try to recreate the issue and find the problem.

[2017-03-21 11:30] Achint08 commented on #297
@uttu357 I was working on it already. But you can work on it if you want to. :)

[2017-03-21 11:33] uttu357 commented on #297
As currently i am not able to create the issue! Please go ahead and solve it asap.. :)

[2017-03-21 14:52] #287 closed

[2017-03-21 14:52] #293 closed

[2017-03-21 14:54] #296 closed

[2017-03-21 17:13] #276 closed

[2017-03-23 06:09] #288 closed

[2017-03-23 06:13] jig08 commented on #282
@mariobehling @djmgit  I guess we are good to go, closing this.

[2017-03-23 06:13] #282 closed

[2017-03-24 10:36] Achint08 opened #301 "Favorite count not displaying"
Favorite count of the tweets is not displaying.

[2017-03-24 11:01] #301 closed

[2017-03-28 14:34] hemantjadon commented on #251
Closing this for now. If needed please reopen.

[2017-03-28 14:34] #251 closed

[2017-03-29 14:44] Achint08 opened #304 "Problem with Deploying on gh-pages"
Running the command `ng run deploy` gives message
`The specified command run is invalid` even though Angular CLI Version (1.0.0-rc.2) is used.

[2017-03-29 14:46] #304 closed

[2017-03-30 16:55] mariobehling opened #305 "Start page loading slowly"
The start page of http://loklak.net should be loading pretty quickly as there is not much on it. Please check why it loads slowly and fix this.

[2017-03-30 17:03] mariobehling opened #306 "Add timespan/duration info for data to right sidebar widget"
The sidebar widget for searches shows top twitterers and hashtags. This information is apparently not based on all of the tweets that were ever made. Please add information about what timespan are the top twitterers etc. as based on e.g. "Top Twitterers in the last 10 days" or "Top Twitterers of the last 100 tweets" etc.

![screenshot from 2017-03-30 13-59-00](https://cloud.githubusercontent.com/a

[2017-03-30 17:05] mariobehling opened #307 "Refreshing search results in missing data on tweet frequency chart"
The tweet frequency chart does not show any information after a result page is refreshed.

![screenshot from 2017-03-30 14-04-57](https://cloud.githubusercontent.com/assets/1583873/24516662/e038f844-1551-11e7-9ba9-bc5fccd284d9.png)

[2017-03-30 17:11] mariobehling opened #308 "Add info for bug reports to pages without search results"
At times there are bugs of the service and there are no results. Bug reports can be submitted to the issue tracker. Please add this info to the page, if no results are shown.

![screenshot from 2017-03-30 14-06-48](https://cloud.githubusercontent.com/assets/1583873/24516825/63f1643c-1552-11e7-926d-1291f28c9d52.png)

After the following please add the sentence below:

Please check back again later.

[2017-03-30 17:18] uttu357 commented on #305
The js and css files are not being minified and optimized after build is done.. Will alter the deploy script and do the changes asap..

[2017-03-30 17:21] mariobehling opened #309 "Add info sidebard on right side below existing widgets"
Twitter has a right sidebar with some info. Please create a similar sidebar below the existing widgets.

![screenshot from 2017-03-30 14-13-51](https://cloud.githubusercontent.com/assets/1583873/24517177/93d3872e-1553-11e7-90cf-cf187cce0f7f.png)

As a start include the following info:
* `Bug Report or Feature Request` with link to https://github.com/fossasia/loklak_search/issues/
* See `Contributo

[2017-03-30 17:33] mariobehling opened #310 "Start Page: Left align additional search info to left side of search bar and reduce size to show two lines"
To be less prominent, please do the following
* [ ] left align additional search info to the left side of the search bar
* [ ] reduce font size to ensure the info is only two lines in standard view
* [ ] reduce the distance between search bar and info text
* [ ] do not show round edges around gray highlighted words (it contradicts the style as there is not other round edge in our design)

![screen

[2017-03-30 17:50] mariobehling opened #311 "Add meta data to all loklak.net pages and make all pages indexable by search engines"
Google Search results do not show any info about loklak.
![screenshot from 2017-03-30 14-26-56](https://cloud.githubusercontent.com/assets/1583873/24517541/21100788-1555-11e7-9668-b9d8737ad8ea.png)

1. Please add relevant meta data to all loklak pages.
2. Make all pages indexable by search engines

[2017-03-30 18:00] mariobehling opened #312 "Start Page: Make the tagline of the start page into an "alt" tag of the loklak image"
To clean up the start page, let's move the text "Distributed Social Media Message Search Engine" to become an alt tag of the loklak cow image, that shows up on scroll over.

Make the alt tag to become "loklak Search - Distributed Social Media Message Search Engine"

[2017-03-30 18:08] mariobehling opened #313 "Start Page: Show top hashtags from last 24 hours"
Instead of "Distributed Social Media Message Search Engine" display an area with the top hashtags of the last 24 hours (in simple text style).

Show 12 hashtags here as a link.

![screenshot from 2017-03-30 15-05-35](https://cloud.githubusercontent.com/assets/1583873/24519205/cd908d02-155a-11e7-83b9-29892e4f0e37.png)

[2017-03-30 19:10] rishiraj824 commented on #305
![screenshot 79](https://cloud.githubusercontent.com/assets/11540785/24521107/8dc5e02a-15a8-11e7-82f1-0a4d98ec4d76.png)

The vendor file which is built while in production is of a huge size. After going through some issues I found these links. Maybe we need to go through the files which are being bundled by webpack and minimize the polyfills and removed the unused files.

- [1](https://github.com/

[2017-03-30 19:15] hemantjadon commented on #305
@rishiraj824 the vendor files are angular specific what we can do right now is enable the prod mode in in CLI and see how the size is reduced.

[2017-03-30 21:15] #309 closed

[2017-03-30 21:18] mariobehling opened #318 "Sidebar Widget: Add list of "Top Followed Twitterers""
Show the Twitterers who tweeted according to the search and are most followed.

![screenshot from 2017-03-30 18-17-08](https://cloud.githubusercontent.com/assets/1583873/24526664/4b7284b8-1575-11e7-879c-104d9caf8aeb.png)

[2017-03-30 21:49] uttu357 commented on #313
Getting hashtags trending globally can result in a single language dominating the trending section as shown for last 24 hours. For example :
http://loklak.org/api/search.json?q=since:day&timezoneOffset=-330&source=cache&count=0&fields=hashtags

![screenshot from 2017-03-31 03 07 08](https://cloud.githubusercontent.com/assets/15570642/24527305/284a80fe-15bf-11e7-9c1a-5b74e378600a.png)
One thing we

[2017-03-30 22:54] mariobehling opened #320 "Match distance above search bar on pages to market leader"
Above the search bar of the market leader the distance to the edge is smaller. Please match it and reduce the distance on loklak.

![screenshot from 2017-03-30 19-50-58](https://cloud.githubusercontent.com/assets/1583873/24529506/6f390f5e-1582-11e7-82ef-d7ee091598eb.png)

![screenshot from 2017-03-30 19-50-42](https://cloud.githubusercontent.com/assets/1583873/24529511/72daf83e-1582-11e7-86c8-bdf5

[2017-03-31 00:23] mariobehling commented on #313
Let's do one thing at a time. Right now the services of loklak often are not reliable and we should do one thing at time and iterate from there.

[2017-03-31 00:26] mariobehling commented on #313
Please help to stay focused and introduce one change at a time. We already had issues with the front page not loading at all for many days. Also right now the start page is very slow. So, please do only one change at a time and help to test this carefully at a time. loklak is pretty cool, but does not have many users. In my view the reason is, that it is not reliable - loklak search and loklak ser

[2017-03-31 00:48] uttu357 commented on #313
Sure Ill try my best so that it would not be happening any more.

[2017-03-31 18:53] rishiraj824 commented on #318
@mariobehling I would like to work on this feature.

[2017-04-01 17:20] #310 closed

[2017-04-01 17:20] #312 closed

[2017-04-02 07:18] hemantjadon commented on #166
I think this can be closed for now :)

[2017-04-02 07:18] #166 closed

[2017-04-03 13:58] #305 closed

[2017-04-04 09:57] hemantjadon commented on #254
I think new searches are being performed. And this can be closed, please reopen if necessary in future.

[2017-04-04 09:57] #254 closed

[2017-04-04 10:09] rishiraj824 opened #322 "Hide InfoBox and the InfoBox columns when there are no results."
- There are various queries for which all the columns inside the InfoBox are empty and it shows a blank box. One should hide it in this case.

![screenshot 90](https://cloud.githubusercontent.com/assets/11540785/24651786/b2f77276-194c-11e7-8115-a0d093f34353.png)

- Also in some case one of the Top Twiterrers, Top Mentions, Top Hashtags are not there in the list but the Heading is displayed. For ex

[2017-04-04 10:34] hemantjadon commented on #322
Yeah this will be very nice :)

[2017-04-04 11:05] #320 closed

[2017-04-04 13:42] #174 closed

[2017-04-13 08:13] mariobehling opened #324 "Sidebar missing content"
![screenshot from 2017-04-13 10-13-03](https://cloud.githubusercontent.com/assets/1583873/24996092/e98719ec-2007-11e7-8b8c-f59548cc19d9.png)

[2017-04-13 08:18] rishiraj824 commented on #324
This issue can be referenced at #322.

[2017-04-16 15:29] Achint08 commented on #322
Hey. This is because of error `Error: statistics is undefined`.  So this error is occurring in info-box component because parameters of the functions (which are processing the aggregations) are undefined. Correct Use of if statement and make those functions run only whenever aggregations are not undefined.

[2017-04-16 16:02] rishiraj824 commented on #322
@Achint08 Thanks, I'll work on this.

[2017-04-20 04:27] #322 closed

[2017-04-20 09:34] rishiraj824 commented on #324
@mariobehling @hemantjadon I think this can be closed now via #326

[2017-04-20 09:42] #324 closed

[2017-04-21 07:57] mariobehling opened #328 "loklak.net shows "no results" while loklak.org shows plenty of JSON results"
Trying a number of searches we often get no results event though loklak.org shows a JSON output.

[2017-04-21 16:59] muskanbararia commented on #43
Can I work on it?

[2017-04-22 09:32] jig08 commented on #43
@muskanbararia Go ahead !

[2017-04-24 17:56] Achint08 commented on #272
Opened issue loklak/loklak_server#1113.

[2017-04-27 02:37] isuruAb opened #329 "Terms page includes unwanted links"
<img width="1164" alt="screen shot 2017-04-27 at 8 04 19 am" src="https://cloud.githubusercontent.com/assets/7692626/25465502/436d90b2-2b20-11e7-8b3e-2b5f4b1980aa.png">

This Terms of Service Link redirect to the home page ? As I see there is no need of link to that ?

[2017-04-28 05:54] hemantjadon commented on #328
@mariobehling Can you provide a test case for this? Because sometimes what happens is the server doesn't respond immediately and thus timeout errors are thrown. maybe thats the case. We would need more information regarding this and why this behaviour is happening.

[2017-04-28 08:08] mariobehling commented on #328
@hemantjadon We also need developers who use the app actively and test it through. Try out 10 searches using the same tab. What is your experience?

[2017-04-29 13:12] mariobehling opened #330 "Show message of search of last 30 days"
The loklak server now only shows messages of the last 30 days.

Please display a message in the search screen accordingly:

"Searching social media messages of the last 30 days."

![screenshot from 2017-04-29 14-59-09](https://cloud.githubusercontent.com/assets/1583873/25555720/383c13f6-2cee-11e7-885a-0b08e4449065.png)

[2017-04-29 13:18] mariobehling opened #331 "Enhance "no result" page"
Please enhance the "no result" page as follows.

* Change text as follows:
"Your search ... did not match any results within the last 30 days."

* Align search text on left and right to the search bar (just like the search results).

![screenshot from 2017-04-29 15-13-58](https://cloud.githubusercontent.com/assets/1583873/25555759/0ff90f4c-2cef-11e7-978d-3530a6f4c5c4.png)

[2017-04-29 13:36] mariobehling opened #332 "loklak.net shows less results than loklak.org"
Please perform multiple searches and compare them to loklak.org.

Todays seach of "fossasia" shows 4 results on loklak.net and dozens of results on loklak.org.

Investigate the issue and fix it.

[2017-04-29 13:47] mariobehling opened #333 "Sidebar often does not show up"
The sidebar often does not show up even though data is apparently available from api.loklak.org. Investigate the issue and solve it. If the issue is related to loklak server, please open an issue there and solve it.

![screenshot from 2017-04-29 15-37-00](https://cloud.githubusercontent.com/assets/1583873/25555934/1388d396-2cf3-11e7-957f-8c2e79b1cfb5.png)

[2017-04-29 13:49] mariobehling opened #334 "No results take a long time"
Trying a search that does not have any result takes a long time, while on loklak.org the result is immediate.

![screenshot from 2017-04-29 15-13-26](https://cloud.githubusercontent.com/assets/1583873/25555951/71e2d27a-2cf3-11e7-8934-271f1339ab22.png)

[2017-04-30 19:17] mariobehling opened #335 "Test app and identify issues"
Test app and perform 10 searches. Note down what happens and which issues appear, e.g. missing sidebars, long loading times, “show more” not working
* Open issues and investigate causes. Propose solutions.
* If issues are relevant for loklak server open issue there and solve it

[2017-05-01 05:15] isuruAb opened #336 "Footer navigation bar does not appear correctly on safari"
navigation bar does not show correctly in safari browser.

It shows like this.
<img width="1232" alt="screen shot 2017-05-01 at 10 43 06 am" src="https://cloud.githubusercontent.com/assets/7692626/25572693/551f8c6e-2e5b-11e7-8c4f-bcc425c01107.png">

[2017-05-02 08:27] #3 closed

[2017-05-03 13:46] Achint08 commented on #46
@mariobehling If anyone else wants to work on issue, he/she can do that. I am working on some other issue right now. :)

[2017-05-05 10:10] AnupKumarPanwar opened #337 "Suggested search queries can not be selected by arrow key"
While searching on 'http://loklak.net/search', the suggested search queries can not be selected by down array key.

![image](https://cloud.githubusercontent.com/assets/10573038/25741465/95a469da-31a8-11e7-8650-bd465626072b.png)

I would like work on this issue.

[2017-05-05 10:13] AnupKumarPanwar opened #338 "Pressing Down Arrow Key shows autocomplete of some other browser form history"
On Pressing 'Down Arrow Key'  in search box, autocomplete of some other browser form history  is shown.

![image](https://cloud.githubusercontent.com/assets/10573038/25741577/f7f368a2-31a8-11e7-8d02-a84740269062.png)

I Would be glad to fix this issue

[2017-05-06 00:51] Achint08 commented on #337
You can work on it. :)

[2017-05-06 00:52] Achint08 commented on #330
I would like to work on it. :)

[2017-05-06 00:53] Achint08 commented on #336
@isuruAb You can work on it if you want to. :)

[2017-05-07 08:17] imujjwal96 opened #339 "Add reStructuredText Markup for document generation"
The flow of documentation generation is changing. As @yukiisbored mentioned in a comment in https://github.com/loklak/loklak_server/pull/1127 and I quote

From my understanding it will require creating a README.rst file in all the repositories.

[2017-05-07 09:01] Achint08 commented on #335
Hello @mariobehling . I tested the app and these are the problems encountered as per my testing
1. Problem with retrieving aggregations from the server. For some queries, we are not receiving any aggregations. (Server side issue)
2. Retrieving Aggregation data is slower. ( This issue can be avoided since processing aggregation data takes time).
3. On client side , search service in not yet configu

[2017-05-07 11:09] #330 closed

[2017-05-07 14:44] shaz13 commented on #334
Hi @mariobehling,
Would like to work on this issue. Instead of passing empty result. I think we must block such behavior before the search function starts. or perhaps enable search only after `char > 0 `

[2017-05-07 14:48] mariobehling commented on #334
Not sure, what is your proposal, but if you have a PR, it would be interesting.

[2017-05-07 15:21] shaz13 opened #343 "Searching text is not aligned in the center and is too large on small screens"
Decrease the size of the search string and align it to the centre.

**Related pic:**
![screenshot from 2017-05-07 20-49-20](https://cloud.githubusercontent.com/assets/24438869/25782343/d06b7968-3366-11e7-8f1b-efab585b9680.png)

**Suggested Fix:**
[code]

[2017-05-07 15:22] shaz13 commented on #343
Kindly confirm, I would like to work on this @mariobehling

[2017-05-07 15:40] hemantjadon commented on #343
Go ahead @shaz13 fix the issue and submit the PR with a working link ,😊

[2017-05-08 04:44] shaz13 commented on #331
I have a fix, pushing a PR @hemantjadon. Kindly review

[2017-05-08 05:03] #331 closed

[2017-05-08 05:03] #329 closed

[2017-05-08 05:28] Achint08 opened #347 "Improve 404 page"
Make the logo text of the [404 page](http://loklak.net/xyz) just like the [home page](http://loklak.net/).

[2017-05-08 13:27] #343 closed

[2017-05-08 13:30] #347 closed

[2017-05-09 16:40] shaz13 opened #350 "Responsiveness triggers sooner than expected and meta text below the search is not responsive"
**Pics:**
Try resizing the chrome window width wise and observe that search bar shrinks sooner even though the place is available.

![screenshot from 2017-05-09 22-06-12](https://cloud.githubusercontent.com/assets/24438869/25861954/f62db956-3503-11e7-93b7-a5bf33829c58.png)

Text under search cuts to the edge of the page.
![screenshot from 2017-05-09 22-06-43](https://cloud.githubusercontent.com/as

[2017-05-09 16:45] shaz13 opened #351 "Compression of banner.jpg"
The current banner.jpg can be further compressed to increase the speed. Surprisingly by 90%
![screenshot from 2017-05-09 22-13-33](https://cloud.githubusercontent.com/assets/24438869/25862231/fc7c2706-3504-11e7-9d48-0de7f7f8f94d.png)

[2017-05-10 04:36] Achint08 commented on #350
@shaz13 Sure. Proceed with it. :)

[2017-05-10 04:50] Achint08 opened #353 "Improve Lightbox"
- [ ] Make Lightbox responsive.

- [ ] Make light box accumulate media elements in it.

[2017-05-10 07:11] shaz13 commented on #353
Hi @Achint08 ,
Could I take up the issue?  Also, a screenshot of lightbox might be helpful. ( I am assuming it's a search result tweets container) Thanks!

[2017-05-10 07:22] #351 closed

[2017-05-10 08:29] Achint08 commented on #353
Hey @shaz13 Sure. You can work on the responsiveness of the lightbox . This is the lightbox
![screen shot 2017-05-10 at 1 58 36 pm](https://cloud.githubusercontent.com/assets/15813932/25889827/d5e7de6c-3588-11e7-8e66-eda8bef915a8.png)

[2017-05-10 08:46] mariobehling opened #354 "Codecov unknown"
Please fix the Codecov coverage.

[2017-05-11 14:41] Achint08 opened #355 "Make User Tooltip"
**Feature**

Idea is to implement user tool tip card as soon as user moves the mouse over the image.

![screen shot 2017-05-10 at 11 38 36 am](https://cloud.githubusercontent.com/assets/15813932/25955108/eb24a744-3685-11e7-92cc-16e880a67b0b.png)

[2017-05-11 14:43] Achint08 commented on #355
@mariobehling @daminisatya @hemantjadon Can I implement this feature?

[2017-05-11 14:46] Achint08 commented on #338
@AnupKumarPanwar Just make autocomplete off for the input and submit your PR.

[2017-05-13 14:03] hemantjadon commented on #355
@Achint08  This is a neat UI feature and we can implement it.
But in my opinion first we can work on the core UI components and improving them then adding additional UI elements.

[2017-05-13 14:15] hemantjadon commented on #354
https://codecov.io/gh/fossasia/loklak_search/settings

Here it says:

Someone with proper repository access rights will have to enable the codecov for the project.

[2017-05-14 05:16] mariobehling commented on #355
@Achint08 Please help to get the core features working before adding more features. Image, Video search is not working properly. Pages don't provide meta-data. loklak.net performs poorly on search engines. We need users in order to justify that we put so much work in this project now. Please work with the team on the server to solve our basic issues. We need to make this service more reliable and

[2017-05-14 05:22] mariobehling commented on #335
@Achint08 Thanks. Please open an issue for each problem. We need to work together with the loklak team to solve server issues as well.

[2017-05-14 05:26] mariobehling commented on #335
@SarishiNoHara @djmgit @kavithaenair @vibhcool @hemantjadon @singhpratyush @SKrPl

What is your experience with http://loklak.net?

[2017-05-14 13:44] #354 closed

[2017-05-15 06:40] Achint08 opened #356 "Problem with deployment after upgrade"
Local deployment not working after upgrade.

**Error given**
`Unhandled Promise rejection: can't convert undefined to object ; Zone: <root> ; Task: Promise.then ; Value: TypeError: can't convert undefined to object` .

[2017-05-15 08:17] hemantjadon commented on #356
@Achint08 where is this bug coming ? When I tested locally it worked fine? Is this coming on deployment on ghpages

[2017-05-15 08:22] Achint08 commented on #356
@hemantjadon Problem exists with local deployment.

[2017-05-15 08:59] singhpratyush opened #358 "from:<user> search not showing proper results"
Example: http://loklak.net/search?query=from%3AGoogle.

This happens because the frontend encodes `%` to `%25`, resulting in a search for `q=from%253AGoogle`.

[2017-05-15 09:04] singhpratyush opened #359 "Feed info box takes too long to load for from:<user> search"
The user info box in the right corner takes too long to load.

Example - http://loklak.net/search?query=from%3AGoogle. It fetches ~188KB data before displaying it.

This happens because the frontend searches for http://api.loklak.org/api/user.json?screen_name=Google&followers=1000&following=1000, which returns failry large amount of JSON.

[2017-05-15 09:08] singhpratyush opened #360 "Missing profile picture for various accounts in loklak search"
Example - http://loklak.net/search?query=from%3Asinghpratyush_

![screenshot from 2017-05-15 14-35-57](https://cloud.githubusercontent.com/assets/10860278/26050370/003e6db0-397c-11e7-95e3-715aeca4ab51.png)

This is (probably) because of changing profile picture of people while loklak holds the URL for older picture.

[2017-05-15 09:26] Achint08 commented on #359
Thanks for opening this issue.
@hemantjadon I think to increase speed of various components of our web app, we should now think to make api service configurable.

[2017-05-15 09:30] Achint08 commented on #358
Hey @singhpratyush . Where are the results not proper? Kindly reproduce a bit.

[2017-05-15 09:38] singhpratyush commented on #359
In this case, a simple solution would be to reduce the number of followers and following that is being requested.

[2017-05-15 09:38] Achint08 commented on #360
@singhpratyush Kindly check the server side for this issue. As such, I will go through the front end side if there is some problem existing.

[2017-05-15 09:42] Achint08 commented on #359
@singhpratyush We have a followers page which gives us information about the followers of the user. So currently, to show more followers we have made the default number of requested followers 1000. We will have to compensate there in that case. Rather, we can make api service configurable.

[2017-05-15 09:43] singhpratyush commented on #358
@Achint08: If you go to the link I mentioned in the description, you will see something like this -
![screenshot from 2017-05-15 15-09-01](https://cloud.githubusercontent.com/assets/10860278/26051700/93a1cf6c-3980-11e7-9795-2f2435a2ad75.png)

This doesn't contain Tweets from `@Google`, but it is a result of searching `from` and `Google` with some characters between them.

If you take a look at the

[2017-05-15 09:45] singhpratyush commented on #359
I understand that scenario, but for the search page, the number can be limited. We only need to show 12 in each field. We may go with requesting more in the `followers:<user>` search type.

[2017-05-16 09:20] kavithaenair opened #361 "Videos and Images tab shows result for empty query."
Issue: Bug Report

Even after clearing the search bar , the videos and images tab shows result.

![screenshot 67](https://cloud.githubusercontent.com/assets/18421291/26098929/df759dc6-3a46-11e7-9290-a106f1abb4ea.png)

![screenshot 68](https://cloud.githubusercontent.com/assets/18421291/26098934/e4515876-3a46-11e7-82ae-8784dbeca797.png)

[2017-05-20 07:30] hemantjadon commented on #359
@singhpratyush yeah bulk of data is getting wasted as the application doesn't require all the set at once. Will work on reducing the data.
Also the Service configuration is also a good idea but it will require careful implementation as sometimes configuration leads to redundancy in code.

[2017-05-25 12:48] #356 closed

[2017-05-26 15:57] hemantjadon opened #362 "Search suggestion Not working properly."
Search suggestion box is not accessible, and also lacks Aria best practices
https://www.w3.org/TR/wai-aria-practices-1.1/#Listbox.

Improve the Suggestion box
* [ ] Use Md Autocomplete
* [ ] Follow aria best practices

[2017-05-30 20:45] #362 closed

[2017-05-31 13:21] hemantjadon opened #365 "Slow typing in development environment"
There is slow typing in dev environment. Please check for what is happening and consider for the same.

[2017-05-31 13:25] hemantjadon commented on #365
What is happening is on typing to the input field is `.onValueChanges` the Store Actions are being dispatched which are listened by the StoreDevtools extension. Now when the rate is too high the extension lags behind and consumes CPU cycles. So we disable the extension when not required.

[2017-06-01 06:32] Achint08 commented on #338
Can be closed!

[2017-06-01 06:32] Achint08 commented on #337
@hemantjadon  Can be closed

[2017-06-01 18:01] #336 closed

[2017-06-02 03:10] #358 closed

[2017-06-02 03:10] #359 closed

[2017-06-02 05:43] #338 closed

[2017-06-02 14:14] #365 closed

[2017-06-02 19:39] hemantjadon commented on #337
Yes this can be closed after #362

[2017-06-02 19:39] #337 closed

[2017-06-02 19:52] hemantjadon commented on #334
Not Sure, our application is responding in time, I am not sure what's the reason. I tried many searches random keywords.
Sometimes, the search is slow on API sometimes it is fast on Application.
Actually what  I am able to understand here is that the API responds not in a constant time even for the same query. Maybe due to server load and other traffic related issues, this makes that variable time

[2017-06-02 19:57] hemantjadon opened #370 "Home Page UI Inconsistencies"
There are some UI inconsistencies in the Home Page of the application.

* [ ] Cow Logo gets resized on small devices
* [ ] No margins on left and right side of the search box (on small devices)
* [ ] Some Flash of unstyled content before the image loklak cow is loaded.
* [ ] Input box doesn't get a visual clue when focused.

[2017-06-02 21:05] Achint08 opened #372 "Adding tests"
Add unit testing for various components of the web app.

[2017-06-03 09:39] #372 closed

[2017-06-03 10:46] hemantjadon opened #373 "Lint the files for the possible linting errors"
* [ ] Make `ng lint` work again
* [ ] Update the `tslint.json` to accomodate the latest changes from angular cli v1
* [ ] Process the files using the updaed linter.

[2017-06-03 11:13] Achint08 opened #375 "Make auto-complete box fixed"
The auto-complete box is moving with the scroll.

![screen shot 2017-06-01 at 3 58 31 pm](https://cloud.githubusercontent.com/assets/15813932/26753047/7d755a42-487b-11e7-80cc-4620cbd79f81.png)

Make autocomplete-box fixed.

[2017-06-03 12:42] hemantjadon commented on #375
This is the WIP in @angular/material itself (#4093)[https://github.com/angular/material2/issues/4093]

We will keep an eye on this issue and get it fixed

[2017-06-03 13:21] #373 closed

[2017-06-03 13:22] #370 closed

[2017-06-04 10:46] hemantjadon opened #378 "Remove unnecessary imports from the modules"
There are many unnecessary imports in the all the modules.
Remove them so that code becomes cleaner and maintainable

[2017-06-04 12:28] Achint08 commented on #372
@hemantjadon Kindly reopen this.

[2017-06-04 13:27] #378 closed

[2017-06-04 18:41] hemantjadon opened #380 "Codecov is not working"
Somewhere during angular-cli upgrade the coverage generation for tests was separated out from the main command and was implemented as a flag. Reset the old behaviour by using all the flags.

[2017-06-04 23:02] #380 closed

[2017-06-04 23:22] Achint08 commented on #361
@hemantjadon This issue can be closed. But have to be kept in mind while implementing media sub tabs.

[2017-06-05 03:41] #361 closed

[2017-06-05 09:00] mariobehling opened #382 "Image and video tab not accessible"
Clicking on image and video tab does not open a link.

[2017-06-05 14:01] hemantjadon commented on #382
@mariobehling It has been dropped intentionally as the tabs were not performing as they should and there is need to restructure the code a little to make these tabs work properly. We are onto it :)

[2017-06-05 15:12] hemantjadon opened #384 "CodeCov repository not enabled"
Currently the codecov settings is not enabled and require someone with access to repository settings to do so.

Enable the corresponding settings so that proper coverage reports can be generated and shown in repository readme.

[2017-06-05 15:12] hemantjadon commented on #384
@mariobehling please have a look at this :)

[2017-06-05 21:03] Achint08 opened #386 "Adding option for "Display search results as media walls"."
﻿Add option to "Display search results as media walls" on the top right of the feed page which would route to the media wall page.

![screen shot 2017-06-06 at 2 30 37 am](https://cloud.githubusercontent.com/assets/15813932/26803050/6cce901e-4a60-11e7-84eb-39a598ef3bc6.png)

[2017-06-05 21:13] Achint08 opened #387 "Adding Loklak media wall component as another display for search result"
Introduce loklak media wall component in the loklak search which is another view of the search result.

![screen shot 2017-06-06 at 2 34 09 am](https://cloud.githubusercontent.com/assets/15813932/26803190/e83125b4-4a60-11e7-82b7-b2cf0f9be5a4.png)

The loklak media wall will have the following parts :-

-  Search page which shows up media elements
- Options to customize text color, background color

[2017-06-07 16:29] #384 closed

[2017-06-07 17:41] Achint08 opened #391 "Add titles for all the pages"
Titles can be added for all the pages.

[2017-06-08 21:04] Achint08 commented on #339
Can be closed now!

[2017-06-08 21:05] Achint08 commented on #350
Closed via #371.

[2017-06-08 21:09] shaz13 commented on #350
Thanks @Achint08 for pointing it. Closing now.

[2017-06-08 21:09] #350 closed

[2017-06-09 03:24] #391 closed

[2017-06-09 03:25] #339 closed

[2017-06-09 09:27] Achint08 commented on #214
Hello @mariobehling ,I tried to implement this. I think the time taken to load info box is same as that of feed cards since the aggregations are retrieved with the statuses. Progressive loading is not making much of a difference as I could see.

[2017-06-09 14:22] hemantjadon opened #395 "Application restructure for implementation of new features"
**Related to #67**

Currently, the application has a query model which has a single property `queryString`. This is the sufficient for the requirements of the plain text based search.
When we start adding the customizations like **Filtering** etc of results this string approach becomes non-feasible. Thus we have to move to a data structure, which of capable of handling the requirements.
This imple

[2017-06-09 14:32] hemantjadon opened #396 "New data structure and actions for the Queries in the application"
**Parent Issue #395**

The Data Structure should be implemented to accommodate the attributes that define a query in general.
This must also be associated with the Actions which update the state represented by the data structure.
In general the structure must contain minimum of `queryString` and a `FilterList`.

[2017-06-09 14:34] hemantjadon commented on #396
This is the basic structure I am currently going on with
[code]

[2017-06-10 19:47] Achint08 opened #398 "Adding module for social media walls"
Related to #387

Idea to add social media module which will have following components -

- [ ] Adding social media walls query component

![screen shot 2017-06-11 at 1 27 52 am](https://user-images.githubusercontent.com/15813932/27005888-3ef343d6-4e45-11e7-898f-0a61084b28b3.png)

The query entered by user will make a call to search.json API so that interface is loaded lazily and all the statuses a

[2017-06-10 19:49] Achint08 commented on #398
@hemantjadon What about this?
@mariobehling Nearly done with customization component part and query component part , is the media wall UI fine so that I can start working on it ?

[2017-06-11 11:09] Achint08 opened #399 "Adding animation to the nav bar"
Animation should be added to the navigation bar and other components so as to make application little bit reactive.

[2017-06-11 19:09] #399 closed

[2017-06-14 13:31] hemantjadon opened #402 "Separate out the reducers, state and actions."
**Parent Issue: #395**
In the current application, there is a problem of overlapping states. The states which are need not be modified by a reducer are overlapping with the other states. This should not be the case.

* [ ] Fix this state overlapping issue
* [ ] Identify and differentiate between logical, and UI states
* [ ] Separate out these states, along with their corresponding reducers.

[2017-06-15 10:58] #396 closed

[2017-06-15 20:50] Achint08 opened #404 ".m3u8 formats of videos"
Videos from Api Response are sometimes in format of [.m3u8](https://en.wikipedia.org/wiki/M3U) files. Question is how to aggregate these parts of videos and display it in one frame?

[2017-06-15 21:10] singhpratyush commented on #404
@Achint08: That should no longer be the case.

The server was once in a state that it fetched `m3u8` videos but after https://github.com/loklak/loklak_server/pull/1206 getting merged, all the links fetched `mp4`, `youtube.com...` or `vimeo.com...`.

[2017-06-16 10:44] Achint08 commented on #404
@singhpratyush
Check this out
http://api.loklak.org/api/search.json?timezoneOffset=-330&q=barcelona&filter=video.

[2017-06-16 11:04] singhpratyush commented on #404
You can skip the `.m3u8` videos there. There will always be more links to the video in there. The `m3u8` file will be pointing the same videos only -
[code]

These `m3u8`s will result in videos in `.ts` format -
[code]

These `.ts` files are partitioned by time (better streaming).

I don't know if there is some package that plays `.m3u8` files directly.

[2017-06-17 04:47] hemantjadon commented on #404
@Achint08 let's skip `.m3u8` for now, I know the details of it, but it is too complex to implement correctly at this state of the application. This can be the feature, which we can user after everything is done.

[2017-06-18 09:13] hemantjadon opened #406 "Separate relocation after query from the query structure"
**Parent issue #395**

* The relocation after query attribute should not be an `enum`

* It can be a simple `boolean`, this will clean up the code, also removing the dependencies while dispatching actions.

[2017-06-18 09:16] hemantjadon opened #407 "Cards not showing the images and videos"
* Due to the state mutation happening in `feed-card`, so that part of the code was removed.

* Make sure that it works again.

[2017-06-19 04:22] hemantjadon opened #409 "Make the QureryChange Action reducer"
**Parent Issue #396**

* This reducer will make sure that as query string changes we update the `queryString` attribute eventually

* This `queryString` attribute is the one which gets sent as a request to the API

* Add unit tests for the function to cover up all the cases

[2017-06-19 12:51] #402 closed

[2017-06-20 11:28] Achint08 opened #412 "Adding feed cards to media wall"
Idea is to add responsive feed cards to media wall adjustable on all type of screen sizes till 5120px.

[2017-06-20 14:54] #406 closed

[2017-06-21 03:39] hemantjadon opened #414 "Add tests for the feed component"
* It is critically important to add Unit Tests to the Feed Component

* It is the main component of the project, so the unit tests, will increase code coverage and decrease the breaking changes.

[2017-06-21 12:12] hemantjadon opened #415 "Videos from providers other than youtube"
* There are video URLs provided by other providers as well apart from youtube (link vine, twitter)

* These should also be displayed in the feed properly

[2017-06-21 13:56] Achint08 commented on #415
@hemantjadon This issue exists for images. I mean images are received from instagram, flickr. These images can be shown using iframe.

[2017-06-21 17:33] #407 closed

[2017-06-21 19:50] Achint08 opened #418 "Making Advanced search Navbar of feed results"
Idea is to make advanced search navbar of feed results just like market leader (without hard coding). Moreover, adding options/filters and linking to different actions.

[2017-06-21 19:54] #412 closed

[2017-06-22 03:34] hemantjadon commented on #418
Not able to understand here? What are you trying to suggest, some mocks and screenshots will be nice.

[2017-06-22 09:37] Achint08 commented on #418
@hemantjadon I was talking about the advanced search nav bar.
![screen shot 2017-06-22 at 3 06 00 pm](https://user-images.githubusercontent.com/15813932/27427399-77df7302-575c-11e7-9480-595673c023ee.png)

[2017-06-22 12:49] hemantjadon commented on #418
@Achint08 This seems decent, but first we need to have the searches for these working then only it make sense for this :)

[2017-06-22 14:27] Achint08 commented on #418
@hemantjadon I wanted to do this because every time you have to change css to add new advanced search option. Like I did for `Views`. I just want to make it simple to add.
It will be just a prototype. Will comment it out for the time being. As soon as you get up with customizable search, we can use that.

[2017-06-23 00:18] Achint08 opened #420 "Adding header to loklak media wall"
Add a header to loklak media wall.

[2017-06-23 00:19] Achint08 opened #421 "Improve media wall cards"
Add hover effects and twitter actions to media wall cards.

[2017-06-23 00:22] Achint08 opened #422 "Media wall pagination"
Idea is to make media wall paginate as soon as user reaches the bottom and load more cards.

[2017-06-23 05:15] hemantjadon opened #425 "Search Service to accept the query params"
* The Search Service currently only the query params which are Fixed.

* This will make the service to accept the filter attributes and other customizable attributes.

* The extension of this will be that, such customization can be extended to all the services.

[2017-06-23 22:56] #409 closed

[2017-06-25 16:37] #420 closed

[2017-06-25 20:30] singhpratyush opened #426 "Incorrect Tweet text displayed"
The query `from:singhpratyush_` shows a Tweet which looks like this -

![screenshot from 2017-06-26 01 49 06](https://user-images.githubusercontent.com/10860278/27519457-ee398986-5a11-11e7-8a3a-6467920516fb.png)

While the response from loklak search is something like this -

![screenshot from 2017-06-26 01 51 25](https://user-images.githubusercontent.com/10860278/27519470-2c120620-5a12-11e7-97ce-

[2017-06-25 22:31] Achint08 opened #427 "Improving media wall cards"
Idea is to improve media wall cards with more focus on media and text.

Mock Up

![screen shot 2017-06-26 at 4 00 18 am](https://user-images.githubusercontent.com/15813932/27520236-2020c646-5a24-11e7-9c7e-6285cfed173c.png)

@hemantjadon @mariobehling Please suggest.

[2017-06-27 01:16] Achint08 opened #429 "Adding customization menu for media walls."
Currently, we have a basic prototype ready. Next thing to do is to make customization menu to help user personalize the media wall. In the first step, we would adding option to change just the search term.

![screen shot 2017-06-27 at 6 45 30 am](https://user-images.githubusercontent.com/15813932/27566656-488fda1e-5b04-11e7-957a-2b0206fcbc67.png)

Please suggest @hemantjadon @mariobehling @sudhees

[2017-06-27 03:23] hemantjadon commented on #426
@singhpratyush on my device (OSX, Chrome59) I am able to see the Flag, but the text Germany is showing twice I wonder why it is so.

[2017-06-27 04:37] singhpratyush commented on #426
@hemantjadon: Can you please share the screenshot from loklak search?

[2017-06-27 13:21] hemantjadon commented on #426
@singhpratyush The screenshot  (Chrome59, macOS-Sierra)
![screen shot 2017-06-27 at 6 49 17 pm](https://user-images.githubusercontent.com/11755543/27589568-84d536e4-5b69-11e7-95b6-2c927b1c581a.png)

[2017-06-28 15:55] singhpratyush opened #431 "Loklak search shows no results when server is down"
When the server is down, the app simply points out that there are no results matching the query, which should not happen.

![screenshot from 2017-06-28 21 22 55](https://user-images.githubusercontent.com/10860278/27647060-0572019a-5c48-11e7-9ad3-63634499076a.png)

Ideal behaviour would be showing a message like `Backend under maintenance. Please try again in some time.` Futher, all views should be

[2017-06-28 16:10] djmgit commented on #431
@singhpratyush  yeah you are right, that should be the ideal case, in that way users will actually be able to know why they are not getting any results.

[2017-06-28 19:27] hemantjadon commented on #431
Yup This should be fixed, thanks for pointing this out.
There are some other cases which can be handled, like `503: Too many requests`, `502: Bad Gateway`, `Timeout`. These cases should be handled to provide the important feedback to the user. I will be working on this next.

[2017-06-29 06:47] Achint08 commented on #431
@singhpratyush Thanks for pointing out.

[2017-06-29 19:31] #313 closed

[2017-06-30 03:55] hemantjadon commented on #431
IMO we should make a central state for all the errors 404, 500, 502 etc. All the errors will be linked to this state using reducers and actions. The components which will have to update the UI according to the errors will do so using this state.

[2017-06-30 11:23] Achint08 commented on #431
@hemantjadon Do we need to show up regarding all the errors? 404 errors I guess never occurs and will be caused by a development issue. Most commonly occurring errors are 502, 503 and these are just because of server issues. We can simply show up `Backend under maintenance. Please try again in some time.`
Looking at the effects, we generally dispatch fail action for all the errors(502/503/no feeds

[2017-06-30 17:37] #425 closed

[2017-06-30 23:10] Achint08 commented on #418
@hemantjadon Can I proceed with this now?

[2017-07-01 05:27] hemantjadon commented on #418
Yeah sure go ahead 👍

[2017-07-01 05:31] hemantjadon commented on #67
Fixed now

[2017-07-01 05:31] #67 closed

[2017-07-01 05:32] hemantjadon commented on #395
This can be closed After all the above issues are closed

[2017-07-01 05:32] #395 closed

[2017-07-01 05:48] hemantjadon opened #432 "Reverse process the query string to query object"
* Currently the query string is formed from the query object and  is sent to the api.

* Now it is also important to get the query object from a query string, so that the string can be used as an embeded URL and all the other features  get entangled in the string. we can call this a `routeString` which contains all the information about the query.

* This will enhance the customizability of the ap

[2017-07-01 05:55] hemantjadon opened #433 "UI enhancements"
There are many places in the application where the UI breaks down.

* The home page is nice and responsive

* But the feed page is the place where the design is not responsive enough.

* The UI breaks down and the app feels less sophisticated.

* This is the umbrella issue for the UI enhancement in feed component

* [ ]  Fix the responsiveness of feed cards

* [ ] Make separate button to show stat

[2017-07-01 19:02] Achint08 opened #435 "Adding Full screen Option for media walls"
Idea is to add full-screen option for media walls.

[2017-07-02 01:32] Achint08 commented on #433
@hemantjadon Look out for these issues if possible

- Look out for merging .m3u8 formats of videos.

- Tweets either have video/images. So if there is a tweet containing both video & images. The image is the thumbnail for the video. Till the video loads, we can show up the thumbnail.

- Also, use in-viewport directive to avoid many parallel requests for videos. Otherwise, it will take a long time